{% set baseClass = "diagnostic" %}
{% extends "../base.html" %}

{% block header %}
	{% include "../header.html" %}
{% endblock %}


{% block content %}

	{% block title %}
	{% endblock %}

	<!-- Swioer Navigation -->
	<div class="swiper-nav">
		<div class="swiper-button-prev-tlab icon-left">
		</div>
	 	<div class="swiper-button-next-tlab icon-right">
	 	</div>
	 	<div class="swiper-button-to-first-tlab icon-rewind" id="swiper-rewind">
	 	</div>
	</div>
	<!-- Slider main container -->
	<div class="swiper-container">
	  <!-- Additional required wrapper -->
	  <div class="swiper-wrapper">
	  	{% block slides %}
		{% endblock %}
	  </div>
	  <!-- If we need pagination -->
	  <!-- <div class="swiper-pagination"></div> -->

	  <!-- If we need navigation buttons -->
	  <!-- <div class="swiper-button-prev"></div> -->
	  <!-- <div class="swiper-button-next"></div> -->

	  <!-- If we need scrollbar -->
	  <!-- <div class="swiper-scrollbar"></div> -->
	</div>
	
{% endblock %}

{% block footer %}
	{% include "../menu-bottom.html" %}
{% endblock %}

{% block page_scripts %}

<script type="text/javascript">

	const rewindEl = document.getElementById('swiper-rewind');
	const nextEl = document.querySelector('.swiper-button-next-tlab');
	
	
	const swiper = new Swiper('.swiper-container', {
		// Optional parameters
		direction: 'horizontal',
		centeredSlides: false,
		slidesOffsetBefore: swiperHelper.getPageOffset(),
		slidesOffsetAfter: swiperHelper.getPageOffset(),
		// autoHeight: true,
		loop: false,
		slidesPerView: 1.1,
		spaceBetween: 40,

		breakpoints: {
	        640: {
	          slidesPerView: 1.25,
	          spaceBetween: 20,
	        },
	        768: {
	          slidesPerView: 1.35,
	          spaceBetween: 50,
	        },
	        1024: {
	          slidesPerView: 1.35,
	          spaceBetween: 50,
	        },
	        1280: {
	          slidesPerView: 2,
	          spaceBetween: 50,
	        }
	    },

		// If we need pagination
		pagination: {
		el: '.swiper-pagination',
		},

		// Navigation arrows
		navigation: {
			nextEl: '.swiper-button-next-tlab',
			prevEl: '.swiper-button-prev-tlab',
		},

		// And if we need scrollbar
		scrollbar: {
			// el: '.swiper-scrollbar',
		},
		on: {
	        resize: function () {
	        	this.params.slidesOffsetBefore = swiperHelper.getPageOffset();
	        	this.params.slidesOffsetAfter = swiperHelper.getPageOffset();
	        	//this.updateSlides()
	        },
	        slideChange: function () {
	        	if ( rewindEl && nextEl ) {
		        	if ( swiper.isEnd && rewindEl && nextEl ) {
		        		rewindEl.style.display = 'block';
		        		nextEl.style.display = 'none';
		        	}
		        	else {
		        		rewindEl.style.display = 'none';
		        		nextEl.style.display = 'block';
		        	}
	        	}

	        },
			/* reachBeginning: function () {
				console.log('begin')
				rewindEl.style.display = 'none';
				nextEl.style.display = 'block';
			},
			reachEnd: function () {
				console.log('end')
				rewindEl.style.display = 'block';
				nextEl.style.display = 'none';
			} */
      }
	});

    if (rewindEl) {
		rewindEl.style.display = 'none';
	    rewindEl.addEventListener('click', e => {
	    	swiper.slideTo(0);
	    })
    }
    
		
</script>

{% endblock %}