<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>T-Lab 2.0</title>
	
	<!-- CSS -->
	<!-- inject:css -->
  	<link rel="stylesheet" href="css/vendors/animsition.min.css">
  	<link rel="stylesheet" href="css/vendors/swiper-bundle.min.css">
  	<link rel="stylesheet" href="css/main.css">
  	<!-- endinject -->

	<!-- FONTS -->
	<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600&display=swap" rel="stylesheet"> -->

	
</head>
<body class="container {{baseClass}}">

	<!-- header -->
	{% block header %}{% endblock %}
	<!-- /header -->

	<main class="animsition">
		{% block content %}{% endblock %}
	</main>

	<!-- refs -->
	{% import "./refs-modal.html" as refsMacro %}
	{% if refs %}
		{{ refsMacro.refsModal(refs) }}
	{% endif %}
	<!-- /refs -->

	<!-- footer -->
	{% block footer %}{% endblock %}
	<!-- /footer -->

	<!-- inject:js -->
  	<script src="js/vendors/vendors.bundle.js"></script>
  	<script src="js/main.js"></script>
  	<!-- endinject -->

	
	{% block page_scripts %}{% endblock %}
	
	<!-- Global site tag (gtag.js) - Google Analytics -->

</body>
</html>