<footer class="row align-items-center {{baseClass}}">
	<div class="col-12 text-right">
		<img src="img/logo-merck.svg" alt="logo merck" width="80" height="auto" class="logo">
		<p><small>Merck &copy; 2021 - <span data-lang="copyright">All rights reserved</span></small></p>
	</div>
</footer>