<header class="row {{baseClass}}">
	<div class="brand col-12 mt-3 mt-md-4 d-flex">
		<div class="flex-grow-1 start-button">
			{% if baseClass == 'menu' %}
			<a href="javascript:openProfile();" class="btn-icn" id="open-profile">
				<img src="img/icons/interface/profile.svg" alt="open profile">
				<span>Profile</span>
			</a>
			{% else %}
			<a href="01_main-menu.html" class="btn-icn animsition-trigger">
				<img src="img/icons/interface/home.svg" alt="return home">
				<span data-lang>Home</span>
			</a>
			{% endif %}
		</div>
		{#<!-- {% if baseClass != 'menu' and baseClass != 'info-page' %} -->#}
		{% if baseClass != 'info-page' %}
		<div class="align-self-center justify-content-end pr-3">
			<div class="btn-group">
			<img src="img/icons/interface/info.svg" alt="Logo T-Lab" class="logo d-block dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" width="24" height="auto">
			  <div class="dropdown-menu dropdown-menu-right">
			    <a href="00_technical-data.html" class="dropdown-item animsition-trigger" data-lang>Technical Data</a>
			    {% if refs %}
			    	<button class="dropdown-item" type="button" data-toggle="modal" data-target="#refs" data-lang>References</button>
			    {% endif %}
			  </div>
			</div>
		</div>
		{% endif %}
		<div class="align-self-center justify-content-end">
			<a href="01_main-menu.html" title="Return to main menu" class="animsition-trigger">
				<img src="img/logo-tlab.svg" alt="Logo T-Lab" class="logo d-block" width="92" height="auto" style="margin-top: -20px">
			</a>
		</div>
	</div>
	
	<!-- <div class="col-6 brand mt-md-4">
		 
		<h2>
			<span data-lang="tag_line">Tool for helping in the diagnostic <br>
				of thyroid diseases and prescription of <b>Eutirox<sup>&reg;</sup></b></span>
		</h2>
	</div> -->
</header>