<nav id="menu-bottom">
	<ul>
		<li>
			<a href="02_diagnostic-menu.html" title="Diagnóstico" class="icon-menu-diagnostic {{'active' if baseClass == 'diagnostic'}}" data-lang>
				<!-- <img src="img/icons/menu-bottom/SVG/menu-diagnostic.svg" alt="icon diagnóstico"> -->
				Diagnosis
			</a>
		</li>
		<li>
			<a href="03_prescription.html?country={{lang}}" title="Prescrição" class="icon-menu-prescription {{'active' if baseClass == 'prescription'}}" data-lang>
				<!-- <img src="img/icons/menu-bottom/SVG/menu-prescription.svg" alt=""> -->
				Prescription
			</a>
		</li>
		<li>
			<a href="04_dosage.html" title="Sobredosagem" class="icon-menu-dosage {{'active' if baseClass == 'dosage'}}" data-lang>
				<!-- <img src="img/icons/menu-bottom/SVG/menu-dosage.svg" alt=""> -->
				Over and Under-Dosage
			</a>
		</li>
		<li>
			<a href="05_pack-calculator.html?country={{lang}}" title="Pack" class="icon-menu-calc {{'active' if baseClass == 'pack-calc'}}" data-lang>
				<!-- <img src="img/icons/menu-bottom/SVG/menu-calc.svg" alt=""> -->
				Pack Calculator
			</a>
		</li>
		<li id="logo" class="d-none d-sm-block">
			<a href="#" title="Merck">
				<img src="img/logo-merck.svg" alt="logo merck" height="auto" class="logo">
			</a>
		</li>
	</ul>
</nav>