{% macro refsModal(refs) %}
  <!-- Modal : Refs -->
  <div class="modal fade" id="refs" data-keyboard="false" tabindex="-1" aria-labelledby="RefsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="RefsLabel" data-lang>References</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          {{ refs | safe }}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-lang>Close</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}