<footer class="row align-items-center {{baseClass}}">
	<div class="col-9 text-left">
		<img src="img/logo-tlab.svg" alt="logo T-Lab" width="80" height="auto" class="logo mb-3">
		<p>This tool was developed on the basis of the main international guidelines for the treatment of the different thyroid conditions that are properly identified in the relevant pathology.</p>
	</div>
	<div class="col-3 text-right align-self-end">
		<img src="img/logo-merck.svg" alt="logo merck" width="80" height="auto" class="logo">
		<p><small>Merck &copy; 2021 - <span data-lang="copyright">All rights reserved</span></small></p>
	</div>
</footer>