<footer class="row align-items-center {{baseClass}}">
	<div class="col-12 col-md-10 offset-md-1 text-center text-sm-left">
		<img src="img/logo-merck.svg" alt="logo merck" class="logo">
		<p><small>Merck &copy; 2021 - <span data-lang="copyright">All rights reserved</span></small></p>
	</div>
</footer>