<header class="row {{baseClass}}">
	<div class="col-12 offset-md-1 col-md-11 brand mt-md-4 text-center text-sm-left {{baseClass}}">
		<img src="img/logo-tlab.svg" alt="Logo T-Lab" class="logo px-3 pb-2 p-sm-0" width="200" height="auto">
		<h2>
			<span data-lang="tag_line">Tool for helping in the diagnostic <br>
				of thyroid diseases and prescription of <b>Eutirox<sup>&reg;</sup></b></span>
		</h2>
	</div>
</header>