{% extends "auth/base.html" %}

{% block content %}
	<div class="row form">
		<div class="col-12 offset-md-1 col-md-11 intro text-center text-sm-left">
			<p class="mb-0"><b><span data-lang="login">Login</span></b></p>
			<p class="mb-4"><span data-lang="insert_credentials">preencha as credeciais</span></p>
		</div>

		<div class="col-12 offset-md-1 col-md-8 register">
			<form class="needs-validation" novalidate>
			  <div class="form-row">
			  	<div class="form-group col-md-12 float-label">
			  		<input type="email" class="form-control" id="email" name="email" autocomplete="username" required placeholder=" ">
			  		<label for="email" data-lang="email">Email</label>
			  		<div class="invalid-feedback" data-lang="input_a_valid_email_address">
		  	        	Input a valid email address.
	  	        	</div>
			  	</div>
			    <div class="form-group col-md-12 float-label">
			    	<input type="password" class="form-control" id="password" name="password" autocomplete="current-password" required placeholder=" ">
			    	<label for="password" data-lang="password">Password</label>
			    	<div class="invalid-feedback" data-lang="introduza_uma_password">
			    	 Input a password
			    	</div>
			    </div>
			</div>
			
			<div class="form-row text-center text-sm-left">
			  	<div class="form-group col-sm-4 col-md-5 col-lg-4">
			  		<button type="submit" class="btn btn-primary d-block w-100" data-lang="login">Login</button>
			  	</div>
			  	<div class="form-group col-sm-4 col-md-5 col-lg-4">
			  		<a href="00_register.html" class="btn btn-outline d-block" data-lang="signup">Sign-Up</a>
			  	</div>

			</div>

			</form>

			<div class="lost-pass">
				<a href="00_password_recovery.html">Lost your password?</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block page_scripts %}

<script type="text/javascript">
	

</script>
{% endblock %}
