{% extends "auth/base.html" %}

{% block content %}
	<div class="row form">
		<div class="col-12 offset-md-1 col-md-11 intro text-center text-sm-left">
			<p class="mb-0"><b><span data-lang="password_recovery">Password Recovery</span></b></p>
			<p class="mb-4"><span data-lang="please_provide_the_email_address_associated_with_the_account">Please provide the email address associated with the account</span></p>
		</div>

		<div class="col-12 offset-md-1 col-md-8 register">
			<form class="needs-validation" novalidate>
			  <div class="form-row">
			  	<div class="form-group col-md-12 float-label">
			  		<input type="email" class="form-control" id="email" name="email" autocomplete="username" required placeholder=" ">
			  		<label for="email" data-lang="email">Email</label>
			  		<div class="invalid-feedback" data-lang="input_a_valid_email_address">
		  	        	Input a valid email address.
	  	        	</div>
			  	</div>
			</div>
			
			<button type="submit" class="btn btn-primary" data-lang="recover_password">Recover Password</button>

			</form>

			<div class="pt-4">
				<a href="00_login.html" data-lang="back_to_login_page">Back to Login Page</a>
			</div>
			
		</div>
	</div>
{% endblock %}

{% block page_scripts %}

<script type="text/javascript">
	

</script>
{% endblock %}
