{% extends "auth/base.html" %}

{% block content %}
	<div class="row form">
		<div class="col-12 offset-md-1 col-md-11 intro text-center text-sm-left">
			<p class="mb-0"><b><span data-lang="signup">Sign-Up</span></b></p>
			<p class="mb-4" data-lang="please_fill_the_form">Please fill the form</p>
		</div>

		<div class="col-12 offset-md-1 col-md-8 register">
			<form class="needs-validation" novalidate>
			  <div class="form-row">
			  	<div class="form-group col-md-6 float-label">
			  		<input type="text" class="form-control" id="name" name="name" required placeholder=" ">
			  		<label for="name" data-lang="name">Name</label>
			  		<div class="invalid-feedback" data-lang="input_a_name">
		  	        	Input a name.
	  	        	</div>
			  	</div>
			    <div class="form-group col-md-6 float-label">
			    	<input type="email" class="form-control" id="email" name="username" autocomplete="username" required placeholder=" ">
			    	<label for="email" data-lang="email">Email</label>
			    	<div class="invalid-feedback" data-lang="input_a_valid_email_address">
		  	        	Input a valid email address.
	  	        	</div>
			    </div>
			</div>
			<div class="form-row">
			    <div class="form-group col-md-6 float-label">
			      <input type="password" class="form-control" id="password" name="password" pattern="^(?=.*[A-z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,18}$" autocomplete="new-password" required placeholder=" ">
			      <label for="password" data-lang="password">Password</label>
			      <div class="invalid-feedback" data-lang="your_password_must_be_820_characters_long_contain_letters_numbers_and_symbols">
			        Your password must be 8-20 characters long, contain letters, numbers and symbols.
			      </div>
			    </div>
			    <div class="form-group col-md-6 float-label">
			      <input type="password" class="form-control" id="password-confirm" autocomplete="new-password" required placeholder=" ">
			      <label for="password-confirm" data-lang="confirm_password">Confirm Password</label>
			      <div class="invalid-feedback" data-lang="passwords_are_not_the_same">
			        Passwords are not the same.
			      </div>
			    </div>
			</div>
			  
			<div class="form-row">
			  <div class="form-group col-md-6 float-label">
			    <input type="text" class="form-control" id="speciality" name="speciality" placeholder=" " required>
			    <label for="speciality" data-lang="specialty">Specialty</label>
			    <div class="invalid-feedback" data-lang="input_a_specialty">
			        Input a Specialty
			    </div>
			  </div>

			  <div class="form-group col-md-6 float-label">
			    <input type="text" class="form-control" id="cedula" name="cedula" placeholder=" " required>
			    <label for="cedula" data-lang="professional_certificate_no">Professional Certificate No.</label>
			    <div class="invalid-feedback" data-lang="input_a_professional_certificate_no">
			        Input a Professional Certificate No.
			    </div>
			  </div>
			</div>
			  
			  <div class="form-group">
			    <div class="form-check">
			      <input class="form-check-input" type="checkbox" id="terms" required>
			      <label class="form-check-label pp" for="terms" data-lang="by_clicking_on_the_register_button_you_hereby_declare_to_have_read_our_privacy_policy_agree_with_the_terms_and_conditions_of_access_and_use_and_declare_that_you_are_a_healthcare_professional">
			        By clicking on the REGISTER button you hereby declare to have read our <a href="#" title="Privacy Policy">Privacy Policy</a>, agree with the <a href="#" title="terms and conditions">Terms and Conditions</a> of Access and Use and declare that you are a healthcare professional.
			      </label>
			      <div class="invalid-feedback" data-lang="you_have_to_agree_with_the_terms_and_conditions">
			        You have to agree with the terms and conditions.
			      </div>
			    </div>
			  </div>

			  <div class="form-row text-center text-sm-left">
			    	<div class="form-group col-sm-4 col-md-5 col-lg-4">
			    		<button type="submit" class="btn btn-primary d-block w-100" data-lang="signup">Sign-up</button>
			    	</div>
			    	<div class="form-group col-sm-4 col-md-5 col-lg-4">
			    		<a href="00_login.html" class="btn btn-outline d-block" data-lang="login">Login</a>
			    	</div>
			  </div>
			</form>
		</div>
	</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
	
 
</script>
{% endblock %}
