{% extends "info-page/base.html" %}

{% block content %}

	<h2 class="main-section-title"><a href="#" onClick="window.history.back()" class="animsition-trigger"><small>Back</small></a></h2>
	<h2 class="sub-section-title">Technical Data</h2>

	<div class="narrow-text">

		<!-- rcm -->
		<!-- copy from here -->

		<h2>FICHA T&Eacute;CNICA</h2>
		<ol>
			<li>
				<h2>NOMBRE DEL MEDICAMENTO</h2>
				<p>
					Eutirox 25 microgramos comprimidos<br/>
					Eutirox 50 microgramos comprimidos<br/>
					Eutirox 75 microgramos comprimidos<br/>
					Eutirox 88 microgramos comprimidos<br/>
					Eutirox 100 microgramos comprimidos<br/>
					Eutirox 112 microgramos comprimidos<br/>
					Eutirox 125 microgramos comprimidos<br/>
					Eutirox 137 microgramos comprimidos<br/>
					Eutirox 150 microgramos comprimidos<br/>
					Eutirox 175 microgramos comprimidos<br/>
					Eutirox 200 microgramos comprimidos
				</p>
			</li>
		<li>
			<h2>COMPOSICI&Oacute;N CUALITATIVA Y CUANTITATIVA</h2>
			<p><strong>Composici&oacute;n cualitativa y cuantitativa</strong></p>
			<p>
				1 comprimido de Eutirox 25 microgramos comprimidos, contiene 25 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 50 microgramos comprimidos,contiene 50 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 75 microgramos comprimidos, contiene 75 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 88 microgramos comprimidos, contiene 88 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 100 microgramos comprimidos, contiene 100 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 112 microgramos comprimidos, contiene 112 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 125 microgramos comprimidos, contiene 125 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 137 microgramos comprimidos, contiene 137 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 150 microgramos comprimidos, contiene 150 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 175 microgramos comprimidos, contiene 175 microgramos de levotiroxina de sodio.<br/>
				1 comprimido de Eutirox 200 microgramos comprimidos, contiene 200 microgramos de levotiroxina de s&oacute;dio.<br/>
				Para consultar la lista completa de excipientes, ver secci&oacute;n 6.1.
			</p>
			<p><u>Excipiente(s) con efecto conocido</u></p>
		</li>
		<li>
			<h2>FORMA FARMAC&Eacute;UTICA</h2>
			<p>Comprimido.</p>
			<p>Blanquecino, redondo, plano por las dos caras, biselado, con ranura de partici&oacute;n y con la siguiente inscripci&oacute;n en una cara:</p>
			<p>
				Eutirox 25 microgramos: EM 25<br/>
				Eutirox 50 microgramos: EM 50<br/>
				Eutirox 75 microgramos: EM 75<br/>
				Eutirox 88 microgramos: EM 88<br/>
				Eutirox 100 microgramos: EM 100<br/>
				Eutirox 112 microgramos: EM 112<br/>
				Eutirox 125 microgramos: EM 125<br/>
				Eutirox 137 microgramos: EM 137<br/>
				Eutirox 150 microgramos: EM 150<br/>
				Eutirox 175 microgramos: EM 175<br/>
				Eutirox 200 microgramos: EM 200
			</p>
			<p>Los comprimidos se pueden dividir en dosis iguales.</p>
		</li>
		<li>
			<h2>DATOS CL&Iacute;NICOS</h2>
				<ol>
					<li>
						<h2>Indicaciones terap&eacute;uticas</h2>
						<p>Eutirox 25-200 microgramos, comprimidos:</p>
						<ul>
							<li>Tratamiento del bocio eutiroideo benigno</li>
							<li>Prevenci&oacute;n de la recidiva tras cirug&iacute;a del bocio eutiroideo, dependiendo del estado hormonal post-quir&uacute;rgico</li>
							<li>Terapia sustitutiva en casos de hipotiroidismo</li>
							<li>Terapia de supresi&oacute;n en el carcinoma tiroideo</li>
						</ul>
						<p>Eutirox 25-100 microgramos, comprimidos:</p>
						<ul>
							<li>Suplemento concomitante durante el tratamiento del hipertiroidismo con f&aacute;rmacos antiti roideos</li>
						</ul>
						<p>Eutirox 100/150/200 microgramos, comprimidos:</p>
						<ul>
							<li>Uso diagn&oacute;stico para la prueba de supresi&oacute;n tiroidea</li>
						</ul>
					</li>
					<li>
						<h2>Posolog&iacute;a y forma de administraci&oacute;n</h2>
						<p>
							<strong>Posolog&iacute;a</strong><br/>
							Para tratar a cada paciente seg&uacute;n sus necesidades individuales, se dispone de comprimidos con un rango de entre 25 y 200 microgramos de levotiroxina de sodio. Por ello los pacientes necesitan, en general, un solo comprimido al d&iacute;a.</p>
						<p>La pauta posol&oacute;gica que se detalla es &uacute;nicamente orientativa.

						</p>
						<p>La dosis diaria individual se determinar&aacute; en base a la respuesta cl&iacute;nica y a los par&aacute;metros de laboratorio.</p>
						<p>
							Dado que algunos pacientes muestran concentraciones elevadas de T4 y de T4 libre, las concentraciones s&eacute;ricas basales de hormona estimulante del tiroides (TSH) proporcionan un par&aacute;metro de mayor fiabilidad para la monitorizaci&oacute;n del tratamiento.<br/>
							La terapia con hormonas tiroideas se debe iniciar a dosis bajas e irse incrementando progresivamente cada 2-4 semanas hasta conseguir la dosis de sustituci&oacute;n completa.
						</p>
						<p>
							En reci&eacute;n nacidos y beb&eacute;s con hipotiroidismo cong&eacute;nito, en los que es importante una r&aacute;pida sustituci&oacute;n, la dosis inicial recomendada es de 10 a 15 microgramos por kg de peso y d&iacute;a durante los 3 primeros meses.<br/>
							Despu&eacute;s la dosis debe ajustarse individualmente de acuerdo con los hallazgos cl&iacute;nicos y los valores de hormona tiroidea y TSH.
						</p>
						<p>En pacientes de avanzada edad, pacientes con enfermedad coronaria y pacientes con hipotiroidismo severo o establecido desde hace tiempo, se requiere especial precauci&oacute;n al inicio de la terapia con hormonas tiroideas, por eso, al iniciar el tratamiento debe administrarse una dosis baja (p.ej. 12,5 microgramos/d&iacute;a) que se debe incrementar de forma lenta y a intervalos prolongados (p.ej. aumentos graduales de 12,5 microgramos/d&iacute;a cada dos semanas), con monitorizaci&oacute;n frecuente de las hormonas tiroideas. Por lo tanto, se deber&aacute; tener en cuenta que una dosis inferior a la dosis &oacute;ptima necesaria para conseguir una terapia de sustituci&oacute;n completa, no tenga como resultado una correcci&oacute;n total de los niveles de TSH.</p>
						<p>La experiencia demuestra que una dosis m&aacute;s baja es suficiente para pacientes de bajo peso y para pacientes con bocio nodular extenso.</p>
						<table class="duas-colunas-50-50">
							<thead>
								<tr>
									<th><strong>Indicaci&oacute;n</strong></th>
									<th colspan="5">
										<u>Dosis recomendada</u><br/>
										(microgramos de levotiroxina de sodio /d&iacute;a)
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Tratamiento del bocio eutiroideo benigno</td>
									<td colspan="5">75 - 200</td>
								</tr>
								<tr>
									<td>Prevenci&oacute;n de la recidiva tras cirug&iacute;a del bocio eutiroideo</td>
									<td colspan="5">75 - 200</td>
								</tr>
								<tr>
									<td>
										Terapia de sustituci&oacute;n del hipotiroidismo en adultos
										<ul>
											<li>dosis inicial</li>
											<li>dosis de mantenimiento</li>
										</ul>
									</td>
									<td colspan="5">
										25 - 50<br/>
										100 - 200
									</td>
								</tr>
								<tr>
									<td>
										Terapia de sustituci&oacute;n del hipotiroidismo en ni&ntilde;os
										<ul>
											<li>dosis inicial</li>
											<li>dosis de mantenimiento</li>
										</ul>
									</td>
									<td colspan="5">
										12,5 - 50<br/>
										100 - 150 microgramos/m<sup>2</sup> de superficie corporal
									</td>
								</tr>
								<tr>
									<td>Suplemento concomitante en terapia antitiroidea del hipertiroidismo</td>
									<td colspan="5">50 - 100</td>
								</tr>
								<tr>
									<td>Terapia de inhibici&oacute;n en el carcinoma tiroideo</td>
									<td colspan="5">150 - 300</td>
								</tr>
								<tr>
									<td rowspan="4">Uso diagn&oacute;stico en el test de supresi&oacute;n tiroidea</td>
									<td class="col-largura-12"></td>
									<td class="col-largura-12">Semana 4 antes del test</td>
									<td class="col-largura-12">Semana 3 antes del test</td>
									<td class="col-largura-12">Semana 2 antes del test</td>
									<td class="col-largura-12">Semana 1 antes del test</td>
								</tr>
								<tr>
									<td class="col-largura-12">Eutirox 200 microgramos</td>
									<td class="col-largura-12">------</td>
									<td class="col-largura-12">------</td>
									<td class="col-largura-12">1 comp/d&iacute;a</td>
									<td class="col-largura-12">1 comp/d&iacute;a</td>
								</tr>
								<tr>
									<td class="col-largura-12">Eutirox 100 microgramos</td>
									<td class="col-largura-12"></td>
									<td class="col-largura-12"></td>
									<td class="col-largura-12">2 comp/d&iacute;a</td>
									<td class="col-largura-12">2 comp/d&iacute;a</td>
								</tr>
								<tr>
									<td class="col-largura-12">Eutirox 150 microgramos</td>
									<td class="col-largura-12">&frac12; comp/d&iacute;a</td>
									<td class="col-largura-12">&frac12; comp/d&iacute;a</td>
									<td class="col-largura-12">1 comp/d&iacute;a</td>
									<td class="col-largura-12">1 comp/d&iacute;a</td>
								</tr>
							</tbody>
						</table>

						<p>
							<strong>Forma de administraci&oacute;n</strong><br/>
							Las dosis diarias pueden administrarse en forma de dosis &uacute;nica.
						</p>
						<p>Administraci&oacute;n: como una dosis &uacute;nica por la ma&ntilde;ana, con el est&oacute;mago vac&iacute;o, media hora antes del desayuno, preferiblemente con un poco de l&iacute;quido (por ejemplo, medio vaso de agua).</p>
						<p>En ni&ntilde;os se administrar&aacute; la dosis diaria en una &uacute;nica toma como m&iacute;nimo 30 minutos antes de la primera comida del d&iacute;a. Los comprimidos se disolver&aacute;n en un poco de agua y la suspensi&oacute;n resultante, que se debe preparar en el momento de la toma, se administrar&aacute; a&ntilde;adiendo un poco m&aacute;s de l&iacute;quido.</p>
						<p>La duraci&oacute;n del tratamiento es, en general, de por vida en el caso de la terapia de sustituci&oacute;n del hipotiroidismo, tras una estrumectom&iacute;a o tiroidectom&iacute;a y para la prevenci&oacute;n del bocio recurrente tras la extirpaci&oacute;n del bocio eutiroideo. La terapia concomitante del hipertiroidismo, una vez alcanzado el estado eutiroideo, est&aacute; indicada durante el per&iacute;odo en que se administra el f&aacute;rmaco antitiroideo.</p>
						<p>Para el bocio eutiroideo benigno es necesario un tratamiento entre 6 meses y 2 a&ntilde;os. En casos de bocio en los que el tratamiento farmacol&oacute;gico sea insuficiente durante este tiempo, deber&aacute; considerarse el tratamiento quir&uacute;rgico o la terapia con radioyodo.</p>
					</li>
					<li>
						<h2>Contraindicaciones</h2>
						<ul>
							<li>Hipersensibilidad al principio activo o a alguno de los excipientes incluidos en la secci&oacute;n 6.1.</li>
							<li>Insuficiencia adrenal, insuficiencia hipofisaria y tirotoxicosis no tratadas.</li>
							<li>El tratamiento con Eutirox no debe iniciarse en caso de infarto agudo de miocardio, miocarditis aguda y pancarditis aguda.</li>
							<li>La terapia combinada de levotiroxina y un medicamento antitiroideo contra el hipertiroidismo no est&aacute; indicada durante el embarazo (ver secci&oacute;n 4.6)</li>
						</ul>
					</li>
					<li>
						<h2>Advertencias y precauciones especiales de empleo</h2>
						<p>Antes de iniciar la terapia con hormonas tiroideas, o antes de llevar a cabo una prueba de supresi&oacute;n tiroidea se deben descartar o tratar las siguientes enfermedades o afecciones: insuficiencia coronaria, angina de pecho, arteriosclerosis, hipertensi&oacute;n, insuficiencia hipofisaria. La autonom&iacute;a tiroidea debe descartarse o tratarse antes del inicio de la terapia con hormonas tiroideas. En caso de disfunci&oacute;n adrenocortical, &eacute;sta debe ser tratada con un tratamiento de reemplazo adecuado para prevenir una insuficiencia adrenal aguda antes de iniciar el tratamiento con levotiroxina (ver secci&oacute;n 4.3).</p>
						<p>Cuando se inicia la terapia con levotiroxina en pacientes con riesgo de des&oacute;rdenes psic&oacute;ticos, se recomienda empezar con una dosis baja de levotiroxina para ir incrementando lentamente la dosis al principio de la terapia. Se recomienda monitorizar al paciente. Si aparecen signos de des&oacute;rdenes psic&oacute;ticos, debe considerarse un ajuste de la dosis de levotiroxina.</p>
						<p>Deben evitarse incluso hipertiroidismos leves inducidos por medicamentos en pacientes con insuficiencia coronaria, insuficiencia cardiaca o arritmias taquic&aacute;rdicas. Por ello, en estos casos, deben realizarse controles frecuentes de los par&aacute;metros de la hormona tiroidea.</p>
						<p>En casos de hipotiroidismo secundario, se determinar&aacute; la causa previamente a la administraci&oacute;n de terapia de sustituci&oacute;n, y en caso necesario, se iniciar&aacute; una terapia de sustituci&oacute;n compensadora de la insuficiencia adrenal.</p>
						<p>Si se sospecha de autonom&iacute;a tiroidea, se deber&aacute; realizar un control del factor hipotal&aacute;mico liberador de TSH (TSH-RH) o un escintigrama de supresi&oacute;n antes de iniciar el tratamiento.</p>
						<p>Cuando se inicia la terapia con levotiroxina en neonatos prematuros de muy bajo peso se deben monitorizar los par&aacute;metros hemodin&aacute;micos, ya que se puede producir un colapso circulatorio debido a la inmadurez de la funci&oacute;n adrenal.</p>
						<p>En mujeres posmenop&aacute;usicas con hipotiroidismo y con riesgo aumentado de osteoporosis, deben evitarse los niveles s&eacute;ricos suprafisiol&oacute;gicos de levotiroxina y por ello monitorizarse cuidadosamente la funci&oacute;n tiroidea.</p>
						<p>La levotiroxina no debe administrarse en estados hipertiroideos, excepto si se administra como terapia concomitante al tratamiento antitiroideo del hipertiroidismo.</p>
						<p>Las hormonas tiroideas no deben administrarse para reducci&oacute;n de peso. En pacientes eutiroideos, el tratamiento con levotiroxina no causa reducci&oacute;n de peso. Dosis elevadas podr&iacute;an causar reacciones adversas graves o incluso poner en peligro la vida del paciente. Levotiroxina en altas dosis no debe combinarse con ciertas sustancias para la reducci&oacute;n de peso, como los simpaticomim&eacute;ticos (ver secci&oacute;n 4.9).</p>
						<p>Si se requiere un cambio a otro medicamento que contenga levotiroxina, es necesario realizar un seguimiento estrecho incluyendo monitorizaci&oacute;n cl&iacute;nica y biol&oacute;gica durante el periodo de transici&oacute;n debido a un riesgo potencial de desequilibrio tiroideo. En algunos pacientes podr&iacute;a ser necesario un ajuste de la dosis.</p>
						<p>Cuando orlistat y levotiroxina se administran conjuntamente, puede producirse hipotiroidismo y/o control reducido del hipotiroidismo (ver secci&oacute;n 4.5). Se recomienda a los pacientes que toman levotiroxina consultar a un m&eacute;dico antes de iniciar, terminar o cambiar un tratamiento con orlistat, ya que orlistat y levotiroxina pueden necesitar tomarse a diferentes horas y puede que se deba ajustar la dosis de levotiroxina. Adem&aacute;s, se recomienda monitorizar al paciente mediante la comprobaci&oacute;n del nivel de hormona en suero.</p>
						<p>Para pacientes diab&eacute;ticos y pacientes con tratamiento anticoagulante, ver secci&oacute;n 4.5.</p>
						<p>Este medicamento contiene menos de 23 mg de sodio (1 mmol) por comprimido; esto es, esencialmente &ldquo;exento de sodio&rdquo;.</p>
					</li>
					<li>
						<h2>Interacci&oacute;n con otros medicamentos y otras formas de interacci&oacute;n</h2>
						<p>
							<strong>Antidiab&eacute;ticos:</strong><br/>
							La levotiroxina puede disminuir el efecto de los medicamentos antidiab&eacute;ticos. Por ello, deben controlarse frecuentemente los niveles de glucosa en sangre al inicio del tratamiento con hormonas tiroideas y en caso necesario, ajustar la dosis del medicamento antidiab&eacute;tico.
						</p>
						<p>
							<strong>Derivados cumar&iacute;nicos:</strong><br/>
							El efecto de la terapia anticoagulante puede intensificarse ya que la levotiroxina desplaza los f&aacute;rmacos anticoagulantes de las prote&iacute;nas plasm&aacute;ticas, lo que incrementa el riesgo de hemorragia, por ejemplo, hemorragia en el SNC y sangrado gastrointestinal, especialmente en pacientes de edad avanzada. Por ello, es necesario controlar los par&aacute;metros de la coagulaci&oacute;n regularmente al inicio y durante la terapia concomitante. En caso necesario, se debe ajustar la dosis del medicamento anticoagulante.
						</p>
						<p>
							<strong>Inhibidores de la proteasa:</strong><br/>
							Los inhibidores de la proteasa (por ejemplo, ritonavir, indinavir, lopinavir) pueden influir en el efecto de la levotiroxina. Se recomienda una monitorizaci&oacute;n estricta de los valores de la hormona tiroidea. Si es necesario, la dosis de levotiroxina debe ser ajustada.
						</p>
						<p>
							<strong>Fenito&iacute;na:</strong><br/>
							La fenito&iacute;na puede influir sobre el efecto de la levotiroxina desplaz&aacute;ndola de las prote&iacute;nas plasm&aacute;ticas y produciendo un incremento de las fracciones libres de T4 y de T3. Por otra parte, la fenito&iacute;na incrementa el metabolismo hep&aacute;tico de la levotiroxina. Se recomienda una estrecha monitorizaci&oacute;n de los par&aacute;metros de la hormona tiroidea.
						</p>
						<p>
							<strong>Colestiramina, colestipol:</strong><br/>
							La ingesti&oacute;n de resinas de intercambio i&oacute;nico tales como colestiramina y colestipol inhiben la absorci&oacute;n de levotiroxina de sodio. Por ello, la levotiroxina de sodio debe tomarse 4 &oacute; 5 horas antes de la administraci&oacute;n de tales medicamentos.
						</p>
						<p>
							<strong>Aluminio, hierro y sales de calcio:</strong><br/>
							Se ha comunicado en la bibliograf&iacute;a pertinente que los f&aacute;rmacos que contienen aluminio (anti&aacute;cidos, sucralfato) pueden reducir potencialmente los efectos de la levotiroxina. Por ello, los f&aacute;rmacos que contienen levotiroxina deben administrarse como m&iacute;nimo 2 horas antes que el f&aacute;rmaco con aluminio. Lo mismo aplica para medicamentos que contienen hierro y sales de calcio.
						</p>
						<p>
							<strong>Salicilatos, dicumarol, furosemida, clofibrato:</strong><br/>
							Los salicilatos, el dicumarol y la furosemida a dosis elevadas (250 mg), el clofibrato y otras sustancias pueden desplazar la levotiroxina de sodio de las prote&iacute;nas plasm&aacute;ticas, resultando en un incremento de la fracci&oacute;n libre de T4.
						</p>
						<p>
							<strong>Orlistat:</strong><br/>
							Cuando orlistat y levotiroxina se administran conjuntamente, puede producirse hipotiroidismo y/o control reducido del hipotiroidismo. Esto puede deberse a una absorci&oacute;n disminuida de las sales de yodo y /o de la levotiroxina.
						</p>
						<p>
							<strong>Sevelamer:</strong><br/>
							Sevelamer puede disminuir la absorci&oacute;n de la levotiroxina. Por ello, se recomienda monitorizar a los pacientes por cambios en la funci&oacute;n tiroidea al principio o final del tratamiento concomitante. Si, es necesario, la dosis de levotiroxina debe ser ajustada.
						</p>
						<p>
							<strong>Inhibidores de la tirosina quinasa:</strong><br/>
							Los inhibidores de la tirosina quinasa (por ejemplo, imatinib, sunitinib) puede disminuir la eficacia de la levotiroxina. Por ello, se recomienda monitorizar los pacientes por cambios en la funci&oacute;n tiroidea al inicio o final del tratamiento concomitante. Si es necesario, la dosis de levotiroxina debe ser ajustada.
						</p>
						<p>
							<strong>Propiltiouracilo, glucocorticoides, beta-simpatol&iacute;ticos, amiodarona y medios de contraste yodados:</strong><br/>
							Estas sustancias inhiben la transformaci&oacute;n perif&eacute;rica de T4 a T3.
						</p>
						<p>Debido a su elevado contenido en yodo, la amiodarona puede provocar tanto hipertiroidismo como hipotiroidismo. Se recomienda especial precauci&oacute;n en caso de bocio nodular con posible autonom&iacute;a no detectada.</p>
						<p>
							<strong>Sertralina, cloroquina/proguanil:</strong><br/>
							Estas sustancias disminuyen la eficacia de la levotiroxina e incrementan los niveles s&eacute;ricos de TSH.
						</p>
						<p>
							<strong>Medicamentos inductores enzim&aacute;ticos:</strong><br/>
							Los medicamentos que inducen enzimas tales como los barbit&uacute;ricos o carbamazepina pueden incrementar el aclaramiento hep&aacute;tico de la levotiroxina.
						</p>
						<p>
							<strong>Estr&oacute;genos:</strong><br/>
							Las necesidades de levotiroxina pueden incrementarse en mujeres que utilizan anticonceptivos que contengan estr&oacute;genos o en mujeres posmenop&aacute;usicas que siguen tratamiento con terapia hormonal sustitutiva.
						</p>
						<p>
							<strong>Productos que contienen Soja:</strong><br/>
							Los productos que contienen soja pueden disminuir la absorci&oacute;n intestinal de levotiroxina. En estos casos, puede ser necesario ajustar la dosis de Eutirox, particularmente al inicio o una vez finalizado el per&iacute;odo en que el paciente tome suplementos a base de soja.
						</p>
					</li>
					<li>
						<h2>Fertilidad, embarazo y lactancia</h2>
						<p>El tratamiento con levotiroxina debe continuarse durante el embarazo y en particular durante la lactancia. Puede ser incluso necesario incrementar la dosis durante el embarazo. Como el aumento de TSH en suero puede tener lugar a las 4 semanas de gestaci&oacute;n, debe controlarse la TSH de las mujeres embarazadas que toman levotiroxina en cada trimestre, con el fin de comprobar que los valores de TSH en suero est&aacute;n dentro de los valores de referencia espec&iacute;ficos para cada trimestre del embarazo. Debido a que los niveles de TSH durante el post-parto son similares a los valores anteriores al embarazo, la dosis de levotiroxina debe volver a ser la misma que la anterior al embarazo inmediatamente despu&eacute;s del parto. Entre 6 y 8 semanas despu&eacute;s del parto, deben obtenerse datos de los niveles de TSH en suero.</p>
						<p>
							<strong>Embarazo</strong><br/>
							La experiencia ha demostrado que no hay evidencia de teratogenia y/o fetotoxicidad en humanos en las dosis terap&eacute;uticas recomendadas. Dosis excesivamente altas de levotiroxina durante el embarazo pueden tener efectos negativos en el feto y en el desarrollo postnatal.
						</p>
						<p>El tratamiento del hipertiroidismo con levotiroxina en combinaci&oacute;n con medicamentos antitiroideos no est&aacute; indicado durante el embarazo. Esta combinaci&oacute;n podr&iacute;a requerir dosis m&aacute;s elevadas de medicamentos antitiroideos, de los cuales se conoce que atraviesan la placenta y provocan hipotiroidismo en el feto.</p>
						<p>Las pruebas diagn&oacute;sticas de supresi&oacute;n tiroidea no deben realizarse durante el embarazo, ya que la administraci&oacute;n de sustancias radioactivas en las mujeres embarazadas est&aacute; contraindicada.</p>
						<p>
							<strong>Lactancia</strong><br/>
							Levotiroxina se secreta en la leche materna durante la lactancia, pero la concentraci&oacute;n alcanzada con la dosis terap&eacute;utica recomendada no son suficientes para desarrollar hipertiroidismo o eliminar la secreci&oacute;n de TSH en el beb&eacute;.
						</p>
					</li>
					<li>
						<h2>Efectos sobre la capacidad para conducir y utilizar m&aacute;quinas</h2>
						<p>No se han realizado estudios de los efectos sobre la capacidad de conducir y utilizar m&aacute;quinas. Sin embargo, dado que la levotiroxina es id&eacute;ntica a la hormona tiroidea producida naturalmente, no cabe esperar que Eutirox influya en la capacidad de conducir y utilizar maquinaria.</p>
					</li>
					<li>
						<h2>Reacciones adversas</h2>
						<p>Cuando se excede el l&iacute;mite de tolerancia individual de levotiroxina de sodio o cuando se produce sobredosis, especialmente si se aumenta la dosis demasiado r&aacute;pidamente al inicio del tratamiento, es posible que aparezcan los siguientes s&iacute;ntomas cl&iacute;nicos t&iacute;picos de hipertiroidismo: arritmias card&iacute;acas (ej. fibrilaci&oacute;n auricular y extras&iacute;stoles), taquicardia, palpitaciones, angor, dolor de cabeza, debilidad muscular y calambres, rubor, fiebre, v&oacute;mitos, alteraciones de la menstruaci&oacute;n, pseudotumor cerebral, temblor, agitaci&oacute;n, insomnio, hiperhidrosis, p&eacute;rdida de peso y diarrea.</p>
						<p>En estos casos la dosis diaria debe disminuirse o suspenderse la medicaci&oacute;n durante algunos d&iacute;as. Una vez hayan desaparecido las reacciones adversas, la terapia puede reanudarse con precauci&oacute;n.</p>
						<p>En caso de hipersensibilidad a cualquiera de los componentes de Eutirox pueden aparecer especialmente reacciones al&eacute;rgicas cut&aacute;neas (sarpullido, urticaria) o del tracto respiratorio. Se han descrito casos de angioedema.</p>
						<p>
							Notificaci&oacute;n de sospechas de reacciones adversas<br/>
							Es importante notificar sospechas de reacciones adversas al medicamento tras su autorizaci&oacute;n. Ello permite una supervisi&oacute;n continuada de la relaci&oacute;n beneficio/riesgo del medicamento. Se invita a los profesionales sanitarios a notificar las sospechas de reacciones adversas a trav&eacute;s del Sistema Espa&ntilde;ol de Farmacovigilancia de Medicamentos de Uso Humano: <a href="http://www.notificaram.es/" target="_blank">www.notificaRAM.es</a>
						</p>
					</li>
					<li>
						<h2>Sobredosis</h2>
						<p>Un nivel elevado de T3 es un indicador de sobredosis m&aacute;s fiable que niveles elevados de T4 o de T4 libre. Tras una sobredosis aparecen s&iacute;ntomas de un incremento repentino del nivel metab&oacute;lico (ver secci&oacute;n 4.8). Dependiendo del alcance de la sobredosis, se recomienda interrumpir el tratamiento con los comprimidos y realizar los controles anal&iacute;ticos apropiados.</p>
						<p>Los s&iacute;ntomas que consisten en efectos beta-simpaticomim&eacute;ticos intensos tales como taquicardia, ansiedad, agitaci&oacute;n e hipercinesia pueden aliviarse con betabloqueantes. En casos de dosis extremas puede ser &uacute;til la plasmaf&eacute;resis.</p>
						<p>Se han descrito casos aislados de crisis epil&eacute;pticas en pacientes predispuestos, cuando se excede el l&iacute;mite de dosis individual tolerada.</p>
						<p>La sobredosis de levotiroxina puede provocar s&iacute;ntomas de hipertiroidismo y podr&iacute;a causar psicosis aguda, especialmente en pacientes con des&oacute;rdenes psic&oacute;ticos.</p>
						<p>Se han comunicado algunos casos de muerte s&uacute;bita de origen card&iacute;aco en pacientes que han tomado sobredosis de levotiroxina durante a&ntilde;os.</p>
					</li>
				</ol>
			</li>
			<li>
				<h2>PROPIEDADES FARMACOL&Oacute;GICAS</h2>
				<ol>
					<li>
						<h2>Propiedades farmacodin&aacute;micas</h2>
						<p>Grupo farmacoterap&eacute;utico: Hormonas tiroideas</p>
						<p>C&oacute;digo ATC: H03A A01</p>
						<p>La levotiroxina sint&eacute;tica que contiene Eutirox tiene un efecto id&eacute;ntico a la hormona natural secretada por la tiroides. Se transforma en T3 en los &oacute;rganos perif&eacute;ricos y, al igual que la hormona end&oacute;gena, desarrolla sus efectos espec&iacute;ficos a nivel de los receptores T3. El organismo no es capaz de distinguir entre levotiroxina end&oacute;gena y ex&oacute;gena.</p>
					</li>
					<li>
						<h2>Propiedades farmacocin&eacute;ticas</h2>
						<p>La levotiroxina administrada por v&iacute;a oral se absorbe casi exclusivamente en la parte superior del intestino delgado. Dependiendo de la formulaci&oacute;n gal&eacute;nica, la absorci&oacute;n puede ser de hasta un 80%. El t<sub>m&aacute;x</sub> es de aproximadamente 5-6 horas.</p>
						<p>Tras la administraci&oacute;n oral, el inicio de la acci&oacute;n se produce a los 3-5 d&iacute;as. La uni&oacute;n de levotiroxina a prote&iacute;nas transportadoras espec&iacute;ficas es muy elevada, aproximadamente del 99,97%. El enlace prote&iacute;na-hormona no es covalente, por lo que la hormona unida en plasma est&aacute; en continuo y r&aacute;pido intercambio con la fracci&oacute;n de la hormona libre.</p>
						<p>Debido a su elevada uni&oacute;n a las prote&iacute;nas, la levotiroxina no se elimina ni por hemodi&aacute;lisis ni hemoperfusi&oacute;n.</p>
						<p>La semivida de la levotiroxina es aproximadamente de unos 7 d&iacute;as. En hipertiroidismo es m&aacute;s corta (3-4 d&iacute;as) y en hipotiroidismo es m&aacute;s larga (aprox. 9-10 d&iacute;as). El volumen de distribuci&oacute;n est&aacute; alrededor de 10-12 l. El h&iacute;gado contiene 1/3 de la levotiroxina extratiroidea total que es r&aacute;pidamente intercambiable con la levotiroxina s&eacute;rica. Las hormonas tiroideas se metabolizan principalmente en el h&iacute;gado, ri&ntilde;&oacute;n, cerebro y m&uacute;sculo. Los metabolitos se excretan por orina y heces. El aclaramiento metab&oacute;lico total de levotiroxina es de 1,2 l plasma/d&iacute;a.</p>
					</li>
					<li>
						<h2>Datos precl&iacute;nicos sobre seguridad</h2>
						<p>
							<strong>Toxicidad aguda:</strong><br/>
							La levotiroxina presenta una ligera toxicidad aguda.
						</p>
						<p>
							<strong>Toxicidad cr&oacute;nica:</strong><br/>
							La toxicidad cr&oacute;nica de la levotiroxina se estudi&oacute; en varias especies animales (rata, perro). A dosis elevadas, se observaron signos de hepatopat&iacute;a, aumento de nefrosis espont&aacute;neas as&iacute; como alteraciones de peso de los &oacute;rganos en ratas.
						</p>
						<p>
							<strong>Toxicidad reproductiva:</strong><br/>
							No se han llevado a cabo estudios de toxicidad reproductiva en animales.
						</p>
						<p>
							<strong>Mutag&eacute;nesis:</strong><br/>
							No existe informaci&oacute;n disponible sobre este aspecto. Hasta la actualidad no ha habido comunicaciones de ning&uacute;n tipo que sugieran da&ntilde;os en la descendencia debidos a cambios en el genoma causados por hormonas tiroideas.
						</p>
						<p>
							<strong>Carcinog&eacute;nesis:</strong><br/>
							No se han llevado a cabo estudios a largo plazo con levotiroxina en animales.
						</p>
					</li>
				</ol>
			</li>
			<li>
				<h2>DATOS FARMAC&Eacute;UTICOS</h2>
				<ol>
					<li>
						<h2>Lista de excipientes</h2>
						<p>
							Almid&oacute;n de ma&iacute;z<br/>
							&Aacute;cido c&iacute;trico anhidro<br/>
							Croscarmelosa de sodio<br/>
							Gelatina<br/>
							Estearato de magnesio<br/>
							Manitol (E421)
						</p>
					</li>
					<li>
						<h2>Incompatibilidades</h2>
						<p>No aplicable.</p>
					</li>
					<li>
						<h2>Periodo de validez</h2>
						<p>3 a&ntilde;os.</p>
					</li>
					<li>
						<h2>Precauciones especiales de conservaci&oacute;n</h2>
						<p>No conservar a temperatura superior a 25&deg;C. Conservar en el envase original para protegerlo de la luz.</p>
					</li>
					<li>
						<h2>Naturaleza y contenido del envase</h2>
						<p>
							Bl&iacute;ster:<br/>
							Bl&iacute;ster formado por una l&aacute;mina base de PVC con l&aacute;mina de cobertura de aluminio o una l&aacute;mina base de aluminio con l&aacute;mina de cobertura de aluminio.
						</p>
						<p>
							Formatos:
							<ul>
								<li>envases de 20, 25, 30, 50, 60, 90, y 100 comprimidos,</li>
								<li>envases calendario de 28 y 84 comprimidos,</li>
								<li>envase cl&iacute;nico: 500 (10x50) comprimidos.</li>
							</ul>
						</p>
						<p>Puede que solamente est&eacute;n comercializados algunos tama&ntilde;os de envase.</p>
					</li>
					<li>
						<h2>Precauciones especiales de eliminaci&oacute;n y otras manipulaciones</h2>
						<p>Ninguna en especial.</p>
					</li>
				</ol>
			</li>
			<li>
				<h2>TITULAR DE LA AUTORIZACI&Oacute;N DE COMERCIALIZACI&Oacute;N</h2>
				<p>
					Merck, S.L.<br/>
					Mar&iacute;a de Molina, 40<br/>
					28006, Madrid<br/>
					Espa&ntilde;a<br/>
				</p>
			</li>
			<li>
				<h2>N&Uacute;MERO(S) DE AUTORIZACI&Oacute;N DE COMERCIALIZACI&Oacute;N</h2>
				<p>
					Eutirox 25 microgramos comprimidos: 64.011<br/>
					Eutirox 50 microgramos comprimidos: 64.012<br/>
					Eutirox 75 microgramos comprimidos: 64.013<br/>
					Eutirox 88 microgramos comprimidos: 70.044<br/>
					Eutirox 100 microgramos comprimidos: 64.014<br/>
					Eutirox 112 microgramos comprimidos: 70.042<br/>
					Eutirox 125 microgramos comprimidos: 64.015<br/>
					Eutirox 137 microgramos comprimidos: 70.043<br/>
					Eutirox 150 microgramos comprimidos: 64.016<br/>
					Eutirox 175 microgramos comprimidos: 64.017<br/>
					Eutirox 200 microgramos comprimidos: 64.018
				</p>
			</li>
			<li>
				<h2>FECHA DE LA PRIMERA AUTORIZACI&Oacute;N/ RENOVACI&Oacute;N DE LA AUTORIZACI&Oacute;N</h2>
				<p>Junio 2001</p>
			</li>
			<li>
				<h2>FECHA DE LA REVISI&Oacute;N DEL TEXTO</h2>
				<p>Mayo 2020</p>
			</li>
		</ol>

		<!-- to here -->
		<!-- /rcm -->

	</div>
	  


{% endblock %}

{% block page_scripts %}

<style>

</style>

<script type="text/javascript">


		
</script>

{% endblock %}
