{% extends "menu/base.html" %}

{% block content %}
	<h2 class="main-menu-title">Diagnostic tool for thyroid disorders and prescription of levothyroxine</h2>
	<!-- <h3 class="sub-section-title">T-Lab</h3> -->
	
	<div class="row">
		<div class="col-12">
			
			<!-- <img src="img/logo-tlab.svg" alt="logo T-Lab" width="80" height="auto" class="logo mb-3"> -->
			<p>This tool was developed on the basis of the main international guidelines for the treatment of the different thyroid conditions that are properly identified in the relevant pathology.</p>
		</div>

		<nav id="main-menu" class="col-12">
			<ul>
				<li>
					<a href="02_diagnostic-menu.html#">
						<div class="icon">
							<div class="icon-menu-diagnostic"></div>
							<!-- <div class="icon-menu-diagnostic"></div>	 -->
						</div>
						<div class="box">
							<h4 class="menu-name">Diagnosis</h4>
							<div class="menu-desc">General information about different thyroid conditions.</div>

							<div class="menu-action">Discover <span class="icon-right"></span></div>
						</div>
					</a>
				</li>
				<li>
					<a href="03_prescription.html?country={{lang}}">
						<div class="icon">
							<div class="icon-menu-prescription"></div>
							<!-- <img src="img/icons/menu-bottom/SVG/menu-prescription.svg" alt="thyroid"> -->
						</div>
						<div class="box">
							<h4 class="menu-name">Prescription</h4>
							<div class="menu-desc">Calculate initial and maintenance dosages for your patients.</div>

							<div class="menu-action">Discover <span class="icon-right"></span></div>
						</div>
					</a>
				</li>
				<li>
					<a href="04_dosage.html">
						<div class="icon">
							<div class="icon-menu-dosage"></div>
							<!-- <img src="img/icons/menu-bottom/SVG/menu-dosage.svg" alt="molecule"> -->
						</div>
						<div class="box">
							<h4 class="menu-name">Effects of overdose and under-dosing</h4>
							<div class="menu-desc">Overview of the symptoms.</div>

							<div class="menu-action">Discover <span class="icon-right"></span></div>
						</div>
					</a>
				</li>
				<li>
					<a href="#" id="thyroid-journal">
						<div class="icon">
							<div class="icon-calendar-i"></div>
							<!-- <img src="img/icons/menu/SVG/calendar.svg" alt="calendar"> -->
						</div>
						<div class="box">
							<h4 class="menu-name">Thyroid Journal</h4>
							<div class="menu-desc">A document to track your patients' thyroid health.</div>

							<div class="menu-action">Discover <span class="icon-right"></span></div>
						</div>
					</a>
				</li>
				<li>
					<a href="05_pack-calculator.html?country={% raw %}{{lang}}{% endraw %}">
						<div class="icon">
							<div class="icon-menu-calc"></div>
							<!-- <img src="img/icons/menu/SVG/calculator.svg" alt="calculator"> -->
						</div>
						<div class="box">
							<h4 class="menu-name">Pack Calculator</h4>
							<div class="menu-desc">Find the pack better suited for your dosage.</div>

							<div class="menu-action">Discover <span class="icon-right"></span></div>
						</div>
					</a>
				</li>
				<li>
					<a href="00_technical-data.html">
						<div class="icon">
							<div class="icon-bed-i"></div>
							<!-- <img src="img/titles/SVG/title-doc-plus.svg" alt="SPC" style="padding: 0.75em 1em"> -->
						</div>
						<div class="box">
							<h4 class="menu-name">Technical Data</h4>
							<div class="menu-desc">Refer to the SPC.</div>

							<div class="menu-action">Discover <span class="icon-right"></span></div>
						</div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="text-center">
		<!-- <img src="img/logo-merck.svg" alt="logo merck" width="80" height="auto" class="logo"> -->
		<p class="pt-2"><small>Merck &copy; 2021 - <span data-lang="copyright">All rights reserved</span></small></p>
	</div>

{% endblock %}

{% block page_scripts %}

<script type="text/javascript">

function openPDF () {
	try {
		messageHandler.postMessage( 'openPDF' );
		console.log( 'openPDF fired' );
	} catch {
		console.log( 'not in native app. Opening PDF in browser' );
		console.log( './img/dosage/TMDI00000010' );
		window.open( './img/dosage/TMDI00000010' );
	}
}

const thyroidJournal = document.getElementById( 'thyroid-journal' );
thyroidJournal.addEventListener( 'click', e => {
	e.preventDefault();
	openPDF();
} );

</script>

{% endblock %}
