{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Thyroid cancer suppressive therapy</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">Introduction</h4>

		<p>Treatment of thyroid cancer usually consists of total thyroidectomy, followed by radioactive iodine therapy (ablation) in higher-risk cases.<sup>1,2</sup></p>

		
	</div>
	<div class="swiper-slide">
		<h4 class="icon-molecule-i">Hormone suppressive therapy</h4>

		<p>In cases of medium and high risk of recurrence, tsh suppressive hormone therapy is initiated. Hormone suppressive therapy performs two tasks: </p>

		<ol>
			<li>It replaces the thyroid hormones produced by the body, preventing hypothyroidism and ensuring normal body function.</li>
			<li>It inhibits or reduces TSH production, preventing the stimulation of any remaining cancer cells (reducing relapses). The usual dose may be around 2.1-2.7 µg/kg/day. The goal may be to achieve TSH < 0.1 or between 0.1 and 0.5 µU/L depending on the risk of recurrence.</li>
		</ol>

		<p>In patients with or at risk of osteoporosis where this suppressive TSH therapy is implemented, supplementation with calcium and vitamin D is recommended.</p>

		<hr />

		<p class="footnote">This treatment should be limited to centres specialising in the follow-up of thyroid cancer patients. Not all thyroid cancer patients need this therapy.</p>

	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>Haugen, B.; Alexander, E.; Bible, K. et al.  American Thyroid Association Management Guidelines for Adult Patients with Thyroid Nodules and Differentiated Thyroid Cancer. The American Thyroid Association (ATA) Guidelines Taskforce on Thyroid Nodules and Differentiated Thyroid Cancer. Thyroid 2015.</li>
		<li>Jonklaas, J.; Bianco, Antonio C.; Bauer, J. et al. Guidelines for the Treatment of Hypothyroidism: Prepared by the American Thyroid Association Task Force on Thyroid Hormone Replacement. Thyroid. December 2014, 24(12): 1670-1751.</li>
	</ol>
{% endset %}


