{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Concomitant supplementation during hyperthyroidism treatment with antithyroid medication</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">Introduction</h4>

		<p>This therapeutic strategy is only used in Graves’ disease hyperthyroidism.<sup>2</sup></p>
		<p>This strategy has advantages and disadvantages</p>
		
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick">Advantages</h4>

		<p>The aim is to avoid fluctuations in thyroid function in patients treated with antithyroids alone (thiamazole or propylthiouracil), where euthyroidism is not always achieved either due to difficulty in adjusting doses or fluctuations in disease activity. Fluctuations between hypo- and hyperthyroidism are common.</p>
		
		<p>Thus, in this strategy called block and replace, treatment consists of high doses of antithyroids. sufficient to cause hypothyroidism while simultaneously administering levothyroxine to correct induced hypothyroidism (usually easier to control). This strategy may, for example, require fewer consultations and follow-up lab tests.</p>

	</div>

	<div class="swiper-slide">
		<h4 class="icon-title-danger">Disadvantages</h4>

		<p>The disadvantages include the need for a higher dose of antithyroids, which increases the risk of potentially serious adverse effects.</p>

		<p>This strategy should only be used in centres specialising in thyroid disorders.</p>

		<p>It is not recommended in pregnant women because of the risk of hypothyroidism in the foetus and the adverse effects of antithyroids on the foetus.</p>
	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>Bahn, R.; Burch, H.; Cooper, D. et al. Hyperthyroidism Management Guidelines, Endocr Pract. 2011;17.</li>
		<li>Gardner, D.; Shoback, D. et al. Greenspan's Basic & Clinical Endocrinology, 8ª Ed. 2007. pp. 248-260.</li>
	</ol>
{% endset %}


