{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Treatment after surgery on euthyroid goitre (total thyroidectomy)</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">Introduction</h4>

		<p>The term goitre refers to any enlargement of the thyroid that may, depending on its morphological characteristics, be diffuse or nodular (uni- or multi-nodular) and coexist from a functional point of view with euthyroidism, hypothyroidism or hyperthyroidism (toxic goitre). Simple goitre is a diffuse or nodular enlargement of the thyroid, which is neither inflammatory nor neoplastic, in an euthyroid individual.<sup>1,4</sup></p>
		
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-danger">Goitre types</h4>

		<div class="row">
			<div class="col-md-6">
				<h5>Toxic</h5>
				<ul>
					<li>Simple goitre</li>
					<li>Endemic goitre / Iodine deficiency</li>
					<li>Dyshormonogenesis goitre</li>
					<li>Goitre induced by goitre-generating substances</li>
					<li>Lymphocytic goitre</li>
					<li>Riedel thyroiditis (rare)</li>
					<li>Subacute or De Quervain’s thyroiditis (note: it may occur with transient hyperthyroidism!)</li>
					<li>Acute or suppurative thyroiditis (note: it may occur with transient hyperthyroidism!)</li>
					<li>Goitre associated with hypothyroidism</li>
				</ul>
			</div>

			<div class="col-md-6">
				<h5>Non-Toxic</h5>
				<ul>
					<li>Multi- or uninodular: secretory adenoma Graves’ disease (diffuse "toxic" goitre) Destructive thyroiditis with goitre</li>
				</ul>

				<h5>Neoplastic/Malignant</h5>
				<ul>
					<li>Carcinomas (papillary, follicular, medullary, undifferentiated)</li>
					<li>Lymphoma</li>
					<li>Distant metastases</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="swiper-slide">
		<h4 class="icon-title-danger">Signs and Symptoms & Causes<sup>1</sup></h4>

		<h5>Signs and Symptoms</h5>
		<ul>
			<li>Compression: manifests in high dyspnoea and dysphagia in very large goitres (rare)</li>
			<li>Paralysis of a vocal chord (very rare; query malignancy)</li>
			<li>Generally, euthyroidism (but may develop into hypo or hyperthyroidism)</li>
		</ul>

		<h5>Causes</h5>
		<ul>
			<li>Goitre is a benign change in the thyroid (hyperplasia), which may be trying to compensate for poor thyroid hormone production.</li>
			<li>It is normally familial and more often affects females</li>
		</ul>
	</div>

	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick">Diagnostic Methods<sup>1</sup></h4>

		<h5>Physical examination</h5>
		<p>&nbsp;</p>

		<h5>Laboratory tests</h5>
		<p>Serum thyroid hormone levels (TSH, free T 4  and T3) in simple goitre are generally within normal range.</p>


		<h5>Thyroid ultrasound</h5>
		<p>Echo-guided fine needle cytology (mainly directed at solid, hypoechoic nodule, larger than 1 cm or other suspect findings)</p>
		<p>Cytology should be preceded by a TSH measurement. Patients with low TSH should be considered for scintigraphy prior to cytology.</p>
		
		<h5>Thyroid scintigraphy</h5>
		<p>To be performed only in certain situations e. g. hyperthyroidism associated with nodules</p>


	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>Melmed, S.; Polonsky, K.; Larsen, P. et al. Williams Textbook of Endocrinology, 12th Ed. 2011. pp. 406-470</li>
		<li>DeGroot, L. et al. Março 2012. http://www.thyroidmanager.org/chapter/thyroid-nodules.</li>
		<li>Medeiros-Neto, G. et al. Fevereiro 2013. http://www.thyroidmanager.org/chapter/multinodular-goiter/.</li>
		<li>Shrestha, R.; Hennessey, J. et al. Dezembro 2015. http://www.thyroidmanager.org/chapter/acute-and-subacute-and-riedels-thyroiditis/.</li>
	</ol>
{% endset %}


