{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Hypothyroidism Replacement Therapy</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-danger">Signs and Symptoms<sup>1</sup></h4>

		<ul class="text-cols-2">
			<li>Weight gain and oedema / myxedema </li>
			<li>Hair loss</li>
			<li>Dry skin</li>
			<li>Cold intolerance</li>
			<li>Constipation</li>
			<li>Dyslipidaemia (hypercholesterolaemia) Lethargy</li>
			<li>Depression</li>
			<li>Irregular menstruation</li>
			<li>Infertility</li>
			<li>Goitre</li>
			<li>Myalgia</li>
			<li>Anaemia</li>
			<li>Decreased cognitive function Hoarseness</li>
			<li>Cramps</li>
			<li>Asthenia</li>
		</ul>
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">Expected Laboratory Results<sup>1,2</sup></h4>

		<h5>Clinical hypothyroidism</h5>
		<p>High TSH with L and/or T3 levels below reference values</p>

		<h5>Subclinical hypothyroidism</h5>
		<p>High TSH with BMI and T3 levels within the reference values</p>

		<h5>Autoimmune hypothyroidism</h5>
		<p>Positive Anti-TPO and/or ATg</p>

		<p class="footnote"><b>Note</b>: There is often no direct correlation between laboratory findings, i.e. between the degree of alteration in TSH, free T4 and T3 and the intensity of clinical findings.</p>
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick">Recommended Laboratory Results<sup>1</sup></h4>

		<h5>Diagnosis</h5>
		<p>Diagnosis: TSH + free T4</p>

		<h5>Complex cases</h5>
		<p>TSH + free T4 + T3</p>

		<h5>Suspected autoimmune hypothyroidism</h5>
		<p>TSH + free T4 + ATPO/ATg</p>

		<h5>Monitoring</h5>
		<p>TSH and free T4 for adjustment of therapy (4 to 6 weeks after start of treatment 8 weeks after dose change): annual long-term TSH may be sufficient.</p>
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick-plus">Diagnostic Methods<sup>1</sup></h4>

		<h5>Clinical history and physical examination</h5>
		<p>Suspected hypothyroidism is usually pinpointed by medical history (see symptoms) and a physical examination (see signs, e.g. goitre).</p>

		<h5>Laboratory tests</h5>
		<p>Serum thyroid hormone levels (free T4 and HRT)</p>
	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>Melmed, S.; Polonsky, K.; Larsen, P. <i>et al</i>. Williams Textbook of Endocrinology, 12th Ed. 2011. pp. 406-470.</li>
		<li>Garber, J.; Cobin, R.; Gharib, H. et al. ATA/AACE Guidelines for Hypothyroidism in Adults. Endocr Pract. 2012;18(6):988-1019.</li>
     	<li>Pearce; Brabant; Duntas; Monzani; Peeters; Razvi; Wemeau. ETA Guideline: Management of Subclinical Hypothyroidism. Eur Thyroid 2013;2:215-228.</li>
        <li>Direção-Geral da Saúde. Norma n.º 039/11, Atualização 26/12/2012. Prescrição de Exames Laboratoriais para Avaliação e Monitorização da Função Tiroideia.</li>
	</ol>
{% endset %}


