{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Treatment after hemithyroidectomy for nodular goitre</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">When To Treat with Levothyroxine<sup>1,2</sup></h4>

		<p>Treatment/replacement with levothyroxine after surgery (hemithyroidectomy) with benign nodular goitre is not necessary in all patients. In a relevant percentage of patients, the remaining thyroid compensates for the portion removed. Treatment with levothyroxine is often initiated prophylactically to prevent hypertrophy, which may cause the remaining half to grow (goitre) or nodules to grow/develop.</p>

		<p>In most cases, the following approach consists of monitoring thyroid function and then starting therapy if TSH begins to increase. Some authors suggest that levothyroxine should be started if TSH goes up markedly (> 5 µU/L), while others argue that if it rises beyond mid-normal (2.5 µU/L), which may cause some stimulation of the remaining thyroid cells, then starting levothyroxine may be justified.</p>
		
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick">Other Factors To Consider In The Decision</h4>

		<p>If the patient is a woman of childbearing age or a child, or has positive antithyroid antibodies, they should start levothyroxine right after a hemithyroidectomy.</p>

		<p>Starting levothyroxine is also indicated in the event of a hemithyroidectomy due to thyroid cancer.</p>	
	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>DeGroot, L. et al. Março 2012. http://www.thyroidmanager.org/chapter/thyroid-nodules.</li>

		<li>Haugen, B.; Alexander, E.; Bible, K. et al. American Thyroid Association Management Guidelines for Adult Patients with Thyroid Nodules and Differentiated Thyroid Cancer. The American Thyroid Association (ATA) Guidelines Taskforce on Thyroid Nodules and Differentiated Thyroid Cancer. Thyroid 2015.</li>
	</ol>
{% endset %}


