{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Subclinical Hypothyroidism</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">When To Treat with Levothyroxine<sup>1</sup></h4>

		<p>There is controversy about the benefit of treating or not treating subclinical hypothyroidism.</p>
		
		<p>The benefit of treatment may be greater in the following cases: patients with TSH > 10 μU/mL or TSH between 4.5 and 10 μU/mL in patients with hypercholesterolaemia. symptoms of depression, bradycardia or infertility, among others, women of childbearing potential and pregnant women, or when positive Ac, goitre or thyroid nodules are present.</p>

		
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick">Factors Supporting the Treatment of Subclinical Hypothyroidism</h4>

		<ul>
			<li>Anti-thyroid antibodies (autoimmune thyroiditis)</li>
			<li>Prior thyroid surgery / treatment of prior hyperthyroidism</li>
			<li>Diffuse/nodular goitre or alterations in thyroid echostructure</li>
			<li>Hypercholesterolaemia, bradycardia, heart failure and depression, among others, may benefit from treatment. However, there is a risk of developing hyperthyroidism and that this could exacerbate cardiovascular disease.</li>
		</ul>	
	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>Pearce; Brabant; Duntas; Monzani; Peeters; Razvi; Wemeau. ETA Guideline: Management of Subclinical Hypothyroidism. Eur Thyroid 2013;2:215-228.</li>
	</ol>
{% endset %}


