{% extends "diagnostic/menu-base.html" %}

{% block content %}

	<h2 class="main-section-title"><small>Select a condition to learn more</small></h2>
	<h3 class="sub-section-title">Diagnosis</h3>

	<nav id="main-menu-diagnostic">
		<ul>
			<li>
				<a href="02_diagnostic-01.html#">
					<img src="img/icons/menu/SVG/tablet.svg" alt="tablet">Hypothyroidism Replacement Therapy
				</a>
			</li>
			<li>
				<a href="02_diagnostic-02.html#">
					<img src="img/icons/menu/SVG/person_thyroid.svg" alt="person thyroid">Treatment after hemithyroidectomy for nodular goitre
				</a>
			</li>
			<li>
				<a href="02_diagnostic-03.html#">
					<img src="img/icons/menu/SVG/bed.svg" alt="hospital care bed">Treatment after surgery on euthyroid goitre (total thyroidectomy)
				</a>
			</li>
			<li>
				<a href="02_diagnostic-04.html#">
					<img src="img/icons/menu/SVG/capsule.svg" alt="capsule">Concomitant supplementation during hyperthyroidism treatment with antithyroid medication
				</a>
			</li>
			<li>
				<a href="02_diagnostic-05.html#">
					<img src="img/icons/menu/SVG/molecule.svg" alt="molecule">Thyroid cancer suppressive therapy
				</a>
			</li>
			<li>
				<a href="02_diagnostic-06.html#">
					<img src="img/icons/menu/SVG/thyroid.svg" alt="thyroid">Secondary hypothyroidism (central)
				</a>
			</li>
			<li>
				<a href="02_diagnostic-07.html#">
					<img src="img/icons/menu/SVG/person_cut.svg" alt="person cut">Subclinical hypothyroidism
				</a>
			</li>
		</ul>
	</nav>

{% endblock %}

{% block page_scripts %}

<script type="text/javascript">
	
	

	
		
</script>

{% endblock %}
