{% extends "diagnostic/base.html" %}

{% block title %}
	<h2 class="main-section-title"><small>Diagnosis</small></h2>
	<h3 class="sub-section-title">Secondary hypothyroidism (central)</h3>
{% endblock %}

{% block slides %}

	<!-- Slides -->
	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">Introduction</h4>

		<p>Central hypothyroidism is characterised by a low T<sub>4</sub> and T<sub>3</sub> secretion by the thyroid, resulting from reduced TSH secretion by the pituitary gland (hypopituitarism). It is a rare disease compared to primary hypothyroidism: around 1:1000, prevalence 1:20 000-1:80 000, in the general population.</p>
		
	</div>
	<div class="swiper-slide">
		<h4 class="icon-title-danger">Causes</h4>

		<p>Hypopituitarism has many causes.<sup>1-3</sup> There is often a deficit of several anterior pituitary hormones and not just of TSH.</p>

		<h5>Common causes</h5>

		<ul class="text-2-cols">
			<li>Pituitary adenoma</li>
			<li>Masses / tumours of the pituitary gland and sella turcica or parasellar region</li>
			<li>Congenital pituitary malformations</li>
			<li>Pituitary infiltration disorders (tuberculosis, sarcoidosis, haemochromatosis, metastases)</li>
			<li>Hypophysitis (usually autoimmune)</li>
			<li>Pituitary and/or hypothalamus surgery or radiotherapy </li>
		</ul>

	</div>

	<div class="swiper-slide">
		<h4 class="icon-title-danger">Signs and Symptoms</h4>

		<p>Symptoms/signs of secondary (or central) hypothyroidism are essentially the same as those of primary (originating in the thyroid) hypothyroidism, but are generally much milder as the thyroid may maintain some residual secretion.</p>

	</div>

	<div class="swiper-slide">
		<h4 class="icon-title-doc-plus">Diagnostic Methods</h4>

		<p>Secondary hypothyroidism is characterised by low or normal-low levels of T4 and/or T3, and equally low or inappropriately normal TSH levels for insufficient thyroid hormone values. In some cases low or normal-low levels of T4 and/or T3 may be associated with TSH levels slightly above the upper limit of normal, but not sufficiently high for what would be required to normalise thyroid hormone levels (concept of pituitary insufficiency).</p>

	</div>

	<div class="swiper-slide">
		<h4 class="icon-title-doc-tick">Therapeutic Objectives</h4>

		<p>There are two issues concerning treatment: on the one hand, solving the aetiological problem (e.g. treating a pituitary tumour), on the other hand thyroid hormone replacement, which should be done with levothyroxine.</p>
		
		<p>The primary goals of therapy are normalisation of T4 and T3 levels, not TSH normalisation (which may be impossible due to a deficiency of this hormone).</p>
		
		<p>The target levels of T4 and T3 shall be close to the middle of the reference range.</p>
		
		<p>Issues of absorption, under-dosing and overdose of the medication are also raised in this type of hypothyroidism.</p>
		
		<p>These conditions should be investigated and treated in endocrinology units. </p>


	</div>

{% endblock %}

{% set refs %}
	<ol class="refs">
		<li>Melmed, S.; Polonsky, K.; Larsen, P. et al. Williams Textbook of Endocrinology, 12th Ed. 2011. pp. 175-219.</li>
		<li>Jonklaas, J.; Bianco, Antonio C.; Bauer, J. et al. Guidelines for the Treatment of Hypothyroidism: Prepared by the American Thyroid Association Task Force on Thyroid Hormone Replacement. Thyroid. December 2014, 24(12): 1670-1751.</li>
		<li>Luca Persani. Central Hypothyroidism: Pathogenic, Diagnostic, and Therapeutic Challenges. J Clin Endocrinol Metab, 2012 (9):3068-78.</li>
	</ol>
{% endset %}
