{% extends "prescription/base.html" %}

{% block content %}

	<h2 class="main-section-title"><small data-lang>Calculate recommended initial and maintenance dosages</small></h2>
	<h3 class="sub-section-title" data-lang>Prescription</h3>

	<!-- Slider main container -->
	<div class="swiper-container {{baseClass}}">
	  <!-- If we need pagination -->
	  <div class="swiper-pagination-tlab">
		<span data-lang>Intro</span>
		<span data-lang>Demographic</span>
		<span data-lang>Condition</span>
		<span data-lang>Analysis</span>
		<span data-lang>Review</span>
	  </div>
	  
	  <!-- Additional required wrapper -->
	  <div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide" id="slide-start">
			<h4 data-lang>Levothyroxin Dosage Calculator</h4>

			<div data-lang="pc-intro-txt">
				<p>Intro text for the prescription calculator</p>
				<p>This tool calculates dosages for Hypothyroidism - Congenital or Replacement Therapy</p>
			</div>

			<!-- Language indicator -->
			<input type="hidden" name="country" value="default">
			
			<div class="form-group cols-3">

				<div class="form-check">
					<input class="form-check-input" type="radio" name="pathology" id="hypothyroidism" value="hypothyroidism" required>
					<label class="form-check-label" for="hypothyroidism">
						<div class="option-icons">
							<span class="icon-tablet-i"></span>
							<span class="icon-thyroid-i"></span>
							<span class="icon-person_cut-i"></span>
						</div>
						<p class="option-main" data-lang>Hypothyroidism</p>
						<p class="option-desc" data-lang>Congenital or Replacement Therapy</p>
					</label>
				</div>

				<!-- <div class="form-check">
					<input class="form-check-input" type="radio" name="pathology" id="hemithyroidectomy" value="hemithyroidectomy" required>
					<label class="form-check-label" for="hemithyroidectomy">
						<div class="option-icons">
							<span class="icon-person_thyroid-i"></span>
						</div>
						<p class="option-main">Treatment</p>
						<p class="option-desc">after hemi&shy;thyroidectomy for nodular goitre</p>

					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="pathology" id="thyroidectomy" value="thyroidectomy" required>
					<label class="form-check-label" for="thyroidectomy">
						<div class="option-icons">
							<span class="icon-bed-i"></span>
						</div>
						<p class="option-main">Treatment</p>
						<p class="option-desc">after surgery on euthyroid goitre (total thyroidectomy)</p>
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="pathology" id="hyperthyroidism" value="hyperthyroidism" required>
					<label class="form-check-label" for="hyperthyroidism">
						<div class="option-icons">
							<span class="icon-capsule-open"></span>
						</div>
						<p class="option-main">Concomitant supplementation</p>
						<p class="option-desc">during hyper&shy;thyroidism treatment with antithyroid medication</p>
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="pathology" id="cancer" value="cancer" required>
					<label class="form-check-label" for="cancer">
						<div class="option-icons">
							<span class="icon-molecule-i"></span>
						</div>
						<p class="option-main">Thyroid cancer</p>
						<p class="option-desc">suppressive therapy</p>
					</label>
				</div> -->
			</div>

			<p class="help" data-lang>Click button to continue</p>
			
		</div>

		<div id="slideAge" class="swiper-slide">
			<h4 data-lang>Demographic</h4>
			<h5 data-lang>Age group</h5>
			<div class="range-container">
				<label for="age"><!--Placeholder--></label>
				<div class="range-options">
					<div class="range-option icon-baby-m active" data-range-id="age" data-range-val="1">&lt;1 <span data-lang>year</span></div>
					<div class="range-option icon-boy" data-range-id="age" data-range-val="2">1-4 <span data-lang>years</span></div>
					<div class="range-option icon-teen" data-range-id="age" data-range-val="3">5-18 <span data-lang>years</span></div>
					<div class="range-option icon-man" data-range-id="age" data-range-val="4">18-40 <span data-lang>years</span></div>
					<div class="range-option icon-woman" data-range-id="age" data-range-val="5">41-55 <span data-lang>years</span></div>
					<div class="range-option icon-elder" data-range-id="age" data-range-val="6">&gt; 55 <span data-lang>years</span></div>
				</div>
				<input type="range" min="1" max="6" value="1" class="range-slider" name="age" id="age" required>
			</div>

			<h5 class="mt-3" data-lang>Gender</h5>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="sex" id="female" value="female" required>
					<label class="form-check-label" for="female">
						<div class="option-icons">
							<span class="icon-female"></span>
						</div>
						<p class="option-main" data-lang>Female</p>
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="sex" id="male" value="male" required>
					<label class="form-check-label" for="male">
						<div class="option-icons">
							<span class="icon-male"></span>
						</div>
						<p class="option-main" data-lang>Male</p>
					</label>
				</div>
			</div>

			<!-- <div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="age" id="child" value="child" required>
					<label class="form-check-label" for="child">
						<div class="option-icons">
							<span class="icon-baby-m"></span>
							<span class="icon-girl"></span>
						</div>
						<p class="option-main">Newborn, child or adolescent</p>
						<p class="option-desc">Acquired or congenital hypothyroidism (neonatal heel prick test)</p>
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="age" id="adult" value="adult" required>
					<label class="form-check-label" for="adult">
						<div class="option-icons">
							<span class="icon-man"></span>
							<span class="icon-woman"></span>
						</div>
						<p class="option-main">Adult</p>
					</label>
				</div>
			</div> -->

			<p class="help" data-lang>Select an option to continue</p>

			<div class="prev-question icon-left" data-lang>
				Back to previous question
			</div>
			
		</div>

		<div class="swiper-slide" id="slide-conditions">
			<h4 data-lang>Which situation is best suited for your patient? </h4>

			<div class="form-group cols-3">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="condition" id="healthy" value="healthy" required>
					<label class="form-check-label" for="healthy">
						<div class="option-icons">
							<span class="icon-couple"></span>
						</div>
						<p class="option-main" data-lang>Without associated diseases</p>
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="condition" id="preagnant" value="preagnant" required>
					<label class="form-check-label" for="preagnant">
						<div class="option-icons">
							<span class="icon-preagnant"></span>
						</div>
						<p class="option-main" data-lang>Pregnancy and breastfeeding</p>
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="condition" id="elder" value="elder" required>
					<label class="form-check-label" for="elder">
						<div class="option-icons">
							<span class="icon-elder"></span>
						</div>
						<p class="option-main" data-lang>The elderly or people with heart disease</p>
					</label>
				</div>

			</div>

			<p class="help" data-lang>Select an option to continue</p>
			<div class="prev-question icon-left" data-lang>
				Back to previous question
			</div>
		</div>

		<div class="swiper-slide" id="slide-weight">

			<h4 data-lang>What are the TSH levels, weight and height of your patient?</h4>

			<div id="form-elm" class="form-row align-items-stretch">

				<div id="form-elm-input-container" class="form-group col-8 col-md-5 offset-md-2 float-label">
					<input class="form-control js-kioskboard-input" type="text" inputmode="decimal" name="tsh" id="tsh" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="[0-9]?[0-9]([\.,][0-9]+)?" required>
					<label id="form-elm-label" class="form-check-label" for="tsh" data-lang>
						TSH Levels
					</label>
				</div>

				<div id="form-elm-unit" class="form-group col-4 col-md-2 align-items-center">
					mIU/L
				</div>
				
				<div id="form-elm-icon" class="form-group col-1 col-md-1 d-none d-md-flex align-items-center">
					<div class="icon-molecule-i"></div>
				</div>

			</div>

			<div class="form-row align-items-stretch">
				<div class="form-group col-8 col-md-5 offset-md-2 float-label">
					<input class="form-control js-kioskboard-input" type="text" inputmode="decimal" name="weight" id="weight" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="[0-2]?[0-9]?[0-9]([\.,][0-9]+)?" required>
					<label class="form-check-label" for="weight" data-lang>
						Weight
					</label>
				</div>
				<div class="form-group col-4 col-md-2 align-items-center">
					<select class="form-control" name="unit-weight" id="unit-weight" required>
						<option value="kg">kg</option>
						<option value="lb">lb</option>
					</select>
				</div>
				<div class="form-group col-1 col-md-1 d-none d-md-flex align-items-center">
					<div class="icon-scale smaller mx-2"></div>
				</div>

			</div>

			<div class="form-row align-items-stretch">
				<div class="form-group col-8 col-md-5 offset-md-2 float-label i-height-cm">
					<input class="form-control js-kioskboard-input" type="text" inputmode="decimal" name="height-cm" id="height-cm" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="[0-2]?[0-9]?[0-9]([\.,][0-9]+)?" required>
					<label class="form-check-label" for="height-cm" data-lang>
						Height
					</label>
				</div>

				<div class="form-group col-4 col-md-3 offset-md-2 float-label i-height-ft">
					<input class="form-control js-kioskboard-input" type="text" inputmode="numeric" name="height-ft" id="height-ft" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="[0-9]+([\.,][0-9]+)?" required>
					<label class="form-check-label" for="height-ft" data-lang>
						Feet
					</label>
				</div>
				<div class="form-group col-4 col-md-2 float-label i-height-ft">
					<input class="form-control js-kioskboard-input" type="text" inputmode="numeric" name="height-in" id="height-in" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="[0-9]+([\.,][0-9]+)?" required>
					<label class="form-check-label" for="height-in" data-lang>
						Inches
					</label>
				</div>
				<div class="form-group col-4 col-md-2 align-items-center">
					<select class="form-control" name="unit-height" id="unit-heigth" required>
						<option value="cm">cm</option>
						<option value="ft">feet</option>
					</select>
				</div>
				<div class="form-group col-1 col-md-1 d-none d-md-flex align-items-center">
					<div class="icon-ruller"></div>
				</div>
				
			</div>
			<div class="form-row align-items-center">
				<div class="form-group col-md-8 offset-md-2 ">
					<button class="btn btn-outline d-block w-100" id="confirm-an" data-lang>Confirm</button>
				</div>
			</div>
			

			<!-- <div class="form-group icon-form justify-content-center mt-1">
				<div class="icon-molecule-i pr-2"></div>
				<div class="icon-scale"></div>
				<div class="icon-ruller"></div>
			</div> -->

			<p class="help" data-lang>Insert the patient's TSH Levels, weight and height</p>
			<div class="prev-question icon-left" data-lang>
				Back to previous question
			</div>

		</div>

		<div class="swiper-slide result" id="slide-result">
			<h4 data-lang>Review your choices</h4>

			<!-- <h5>Review Your Choices</h5> -->
			<ul id="choices">
			</ul>

			<div class="form-row align-items-center">
				<div class="form-group col-md-8 offset-md-2 ">
					<button class="btn btn-outline d-block w-100" data-toggle="modal" data-target="#results" data-lang>Calculate Dosages</button>
				</div>
			</div>

			
		</div>
				
			

		</div>
	  </div>
	  

	  <!-- If we need navigation buttons -->
	  <!-- <div class="swiper-button-prev"></div> -->
	  <!-- <div class="swiper-button-next"></div> -->

	  <!-- If we need scrollbar -->
	  <!-- <div class="swiper-scrollbar"></div> -->
	</div>

	<!-- Modal : Results -->
	<div class="modal fade result" id="results" data-keyboard="false" tabindex="-1" aria-labelledby="groupsLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="groupsLabel" data-lang>Results</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body px-4">
			
			<h5 class="pb-2" data-lang>The recommended doses of levothyroxine are:</h5>
			
			<div class="row text-center pb-2 result-vals justify-content-center align-items-center" id="result-box-container">
				<div class="col-md-6" id="box-initial-dose">
					<div class="result-box">
						<div class="icns">
							<div class="icon-finish"></div>
							<div class="icon-capsule-open"></div>
						</div>
						<div class="pack-pic" style="display: none;">
							<img src="" alt="eutirox package" />
						</div>
						<p class="result-title" data-lang>Initial dose</p>
						<p class="result"><span id="initial-dose">0-0</span> μg/<span data-lang>day</span><sup id="ref-id"></sup></p>
					</div>
				</div>
				<div class="col-md-6" id="box-maintenance-dose">
					<div class="result-box">
						<div class="icns">
							<div class="icon-tools"></div>
							<div class="icon-capsule-open"></div>
						</div>
						<div class="pack-pic" style="display: none;">
							<img src="" alt="eutirox package" />
						</div>
						<p class="result-title" data-lang>Maintenance dose</p>
						<p class="result"><span id="maintenance-dose">0-0</span> μg/<span data-lang>day</span><sup id="ref-md"></sup></p>
					</div>
				</div>
				<div class="col-md-6" id="box-tsh-dose">
					<div class="result-box">
						<div class="icns">
							<div class="icon-tools"></div>
							<div class="icon-capsule-open"></div>
						</div>
						<div class="pack-pic" style="display: none;">
							<img src="" alt="eutirox package" />
						</div>
						<p class="result-title" data-lang>Dose Calculation (TSH)</p>
						<p class="result"><span id="tsh-dose">0-0</span> μg/<span data-lang>day</span><sup id="ref-tsh"></sup></p>
					</div>
				</div>
				<div class="col-md-6" id="box-followup-dose">
					<div class="result-box">
						<div class="icns">
							<div class="icon-tools"></div>
							<div class="icon-capsule-open"></div>
						</div>
						<p class="result-title" data-lang>Treatment control</p>
						<p class="result"><span id="followup-dose"></span> <sup id="ref-followup"></sup></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="result-box">
						<div class="icns">
							<div class="icon-scale"></div>
						</div>
						<p class="result-title" data-lang>BMI</p>
						<p class="result"><span id="bmi">0</span> kg/m<sup>2</sup></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="result-box">
						<div class="icns">
							<div class="icon-ruller"></div>
						</div>
						<p class="result-title" data-lang>Body Surface Area</p>
						<p class="result"><span id="bsa">0</span> m<sup>2</sup></p>
					</div>
				</div>

			</div>

			<div id="results-text">
				<!-- dynamically inserted according to coutry -->
			</div>

			<div id="general-results-text">
				<!-- dynamically inserted according to coutry -->
			</div>

			<hr />
			
			<div class="info">
				<p data-lang>Levothyroxine is a medicinal product with a narrow therapeutic margin. Therefore, prescribers should state in the prescription the legal exception corresponding to this group of drugs to prevent a change of brand at the pharmacy:</p>
				<p data-lang>“Exception a) in Article 6(3) - Narrow therapeutic index or margin.”</p>
				<p data-lang>A mere change of brand can alter patient hormone levels by itself.</p>
			</div>
			
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" id="pack-calc-btn" data-lang>Pack Calculator</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" data-lang>Close</button>
		  </div>
		</div>
	  </div>
	</div>


{% endblock %}

{% block page_scripts %}

<style>

</style>

<script type="text/javascript">


// get language from url parameter
const country = utils.getLanguage();

// translate to chosen language
const translation = new Translator();
translation.importLangsJson( appTranslations );

translation.populateTemplateFromString( appTranslations[country] );
translation.updateLocalizedLinks( country );
translation.populateLocalizedRefs( refsTranslation[country].prescription );

// console.log(country);
// assign to hidden input
document.querySelector( 'input[name="country"]' ).value = country;

// get the labels of the form steps from the HTML
const steps = swiperHelper.getPaginationLabels( '.swiper-pagination-tlab' );

/**
 * swiper config
 */
const swiper = new Swiper( '.swiper-container', {
	// Optional parameters
	direction: 'horizontal',
	centeredSlides: true,
	// slidesOffsetBefore: swiperHelper.getPageOffset(),
	// slidesOffsetAfter: swiperHelper.getPageOffset(),
	// autoHeight: true,
	loop: false,
	slidesPerView: 'auto',
	spaceBetween: 40,
	// allowSlideNext: false,
	allowTouchMove: false,

	breakpoints: {
		640: {
			slidesPerView: 'auto',
			spaceBetween: 20
		},
		768: {
			slidesPerView: 'auto',
			spaceBetween: 40
		},
		1024: {
			slidesPerView: 'auto',
			spaceBetween: 50
		},
		1280: {
			slidesPerView: 'auto',
			spaceBetween: 50
		}
	},

	// If we need pagination
	pagination: {
		el: '.swiper-pagination-tlab',
		dynamicBullets: false,
		dynamicMainBullets: 1,
		// clickable: true,
		renderBullet: function ( index, className ) {
			// return '<span class="' + className + '">' + (index + 1).toString().padStart(2, 0) + '<span class="step-name">' + steps[index] + '</span>' + '</span>';

			return `<span class="${className}">
					   <span class="num">${( index + 1 ).toString().padStart( 2, 0 )}</span>
					   <span class="step-name">${steps[index]}</span>
					</span>`;
		}
	},

	// On function
	on: {
		init: function () {
			console.log( 'initialized' );
		},
		resize: function () {
			// swiper.params.slidesOffsetBefore = getOffset();
			// swiper.params.slidesOffsetAfter = getOffset();
			// swiper.updateSlides()
		},
		slideChangeTransitionStart: function () {
			const actualSlideIndex = this.activeIndex;
			const prevSlideIndex = this.previousIndex;
			const actualSlide = swiper.slides[actualSlideIndex];
			const prevSlide = swiper.slides[prevSlideIndex];

			// hide conditional fields added by addLocalizedFields functions
			if ( presc.hideLocalizedConditionalFields[country] !== undefined ) {
				presc.hideLocalizedConditionalFields[country]( actualSlide, prevSlide );
			}
		},
		reachEnd () {
			// shortcut to gtElementByID()
			const byId = function ( id ) { return document.getElementById( id ); };
			// calculate the dosage here
			const form =  presc.getFormData();
			console.log(form)

			// Populate the list items for choices review
			presc.populateReviewList( form, 'choices' );

			// pass form data and calculate BMI/BSA
			presCalc.setupData( form );

			// calculate according to the selected country
			presCalc[country]();

			// send results to native app for analytics logging
			logAnalyticsPresCalc( presCalc );

			// check type of calculation to change the modal result boxes
			console.log( presCalc.form.data.calcType );
			byId( 'box-initial-dose' ).style.display = 'none';
			byId( 'box-maintenance-dose' ).style.display = 'none';
			byId( 'box-tsh-dose' ).style.display = 'none';
			byId( 'box-followup-dose' ).style.display = 'none';

			// hide img elem & show icon elem to fix the "img packs persists from preview result" bug when no treatmenat needed
			document.querySelector( '#box-initial-dose .icns' ).style.display = 'flex';
			document.querySelector( '#box-initial-dose .pack-pic' ).style.display = 'none';

			if ( presCalc.form.data.calcType == 'tsh' ) {
				byId( 'box-tsh-dose' ).style.display = 'block';
			} else if ( presCalc.form.data.calcType == 'initial' ) {
				byId( 'box-initial-dose' ).style.display = 'block';
			} else if ( presCalc.form.data.calcType == 'followup' ) {
				byId( 'box-followup-dose' ).style.display = 'block';
				// hide bridge to pack calc because values are not numeric
				byId( 'pack-calc-btn' ).style.display = 'none';
			} else {
				if ( presCalc.initialDose ) {
					byId( 'box-initial-dose' ).style.display = 'block';
				}
				if ( presCalc.maintenanceDose ) {
					byId( 'box-maintenance-dose' ).style.display = 'block';
					let outerDiv = byId( 'maintenance-dose' ).parentElement;
					if ( presCalc.maintenanceDose == 'Depends on Condition' ) {
						outerDiv.innerHTML = '<span id="maintenance-dose"></span><sup id="ref-md">';
					} else {
						//outerDiv.innerHTML = '<span id="maintenance-dose">0-0</span> μg/<span data-lang>day</span><sup id="ref-md"></sup>';
					}
				}
			}

			// populate the results modal
			byId( 'bmi' ).innerHTML = presCalc.bmi;
			byId( 'bsa' ).innerHTML = presCalc.bsa;

			byId( 'initial-dose' ).innerHTML = presCalc.initialDose;
			byId( 'ref-id' ).innerHTML = ( presCalc.refNum.initialDose ) ? `(${presCalc.refNum.initialDose})` : '';

			byId( 'maintenance-dose' ).innerHTML = presCalc.maintenanceDose;
			byId( 'ref-md' ).innerHTML = ( presCalc.refNum.maintenanceDose ) ? `(${presCalc.refNum.maintenanceDose})` : '';

			byId( 'tsh-dose' ).innerHTML = presCalc.tshDose;
			byId( 'ref-tsh' ).innerHTML = ( presCalc.refNum.tshDose ) ? `(${presCalc.refNum.tshDose})` : '';

			byId( 'followup-dose' ).innerHTML = presCalc.followupDose;
			byId( 'ref-followup' ).innerHTML = ( presCalc.refNum.followupDose ) ? `(${presCalc.refNum.followupDose})` : '';

			byId( 'results-text' ).innerHTML = presCalc.resultTxt;
			byId( 'general-results-text' ).innerHTML = presCalc.generalResultTxt;

			// bridge to pack calcultor button
			let iDose = presCalc.initialDose || presCalc.tshDose;
			const mDose = presCalc.maintenanceDose;

			if ( iDose ) {
				byId( 'pack-calc-btn' ).addEventListener( 'click', e => {
					iDose = ( iDose.includes( '-' ) ) ? iDose.split( '-' )[0].trim() : iDose;
					iDose = ( iDose.includes( ':' ) ) ? iDose.split( ':' )[1].trim() : iDose;
					window.location.href = `05_pack-calculator.html?country=${country}&dosage=${iDose}`
				} );
			}

			// remove button when there is no value given
			if ( iDose.trim() == '-' ) {
				byId( 'pack-calc-btn' ).style.display = "none";
				// remove boxes for brazil
				if ( country == 'pt_BR' ) {
					byId( 'result-box-container' ).style.display = 'none'
				}
			} else {
				byId( 'pack-calc-btn' ).style.display = "block";
				byId( 'result-box-container' ).style.display = 'flex'

			}

			


			// display box for selected countries
			packCalc[country]();

			// get lower bound value of dosages (in case suggested doage is a range)
			const iDoseLB = ( iDose ) ? parseInt( ( iDose.includes( '-' ) ) ? iDose.split( '-' )[0].trim() : iDose ) : null;
			const mDoseLB = ( mDose ) ? parseInt( ( mDose.includes( '-' ) ) ? mDose.split( '-' )[0].trim() : mDose ) : null;

			const closestInitial = ( iDose ) ? packCalc.findClosestInPackArray( ( iDose.includes( '-' ) ) ? iDose.split( '-' )[0].trim() : iDose ) : null;
			const closestMaintenance = ( mDose ) ? packCalc.findClosestInPackArray( ( mDose.includes( '-' ) ) ? mDose.split( '-' )[0].trim() : mDose ) : null;

			console.log( `CI: ${closestInitial} + CM: ${closestMaintenance} + LP: ${packCalc.packs[0]} ` );
			// if packCalc pic is set replace initial dose icon by images
			// tsh/initial dose
			if ( packCalc.pic && iDoseLB >= packCalc.packs[0] ) {
				// hide icons
				document.querySelector( '#box-initial-dose .icns' ).style.display = 'none';
				document.querySelector( '#box-tsh-dose .icns' ).style.display = 'none';

				// show img elem
				document.querySelector( '#box-initial-dose .pack-pic' ).style.display = 'block';
				document.querySelector( '#box-tsh-dose .pack-pic' ).style.display = 'block';

				document.querySelector( '#box-initial-dose .pack-pic img' ).src = packCalc.getPicUrl( closestInitial );
				document.querySelector( '#box-tsh-dose .pack-pic img' ).src = packCalc.getPicUrl( closestInitial );
			}
			// maintenance
			if ( mDose && packCalc.pic && mDoseLB >= packCalc.packs[0] ) {
				// hide icons
				document.querySelector( '#box-maintenance-dose .icns' ).style.display = 'none';
				// show img elem
				document.querySelector( '#box-maintenance-dose .pack-pic' ).style.display = 'block';
				// set img src
				document.querySelector( '#box-maintenance-dose .pack-pic img' ).src = packCalc.getPicUrl( closestMaintenance );
			}
		},

		// Slide change function
		slideChange: function () {
			scrollToTargetAdjusted( '.sub-section-title' )
		}
	}
} );

/**
* Form utilities
* All utility function in js/prescription.js
*/

// add localized fields (has to be done in the beginning)
if ( presc.addLocalizedFields[country] !== undefined ) {
	presc.addLocalizedFields[country]();
}

// add inactive classes to non selected option elements
presc.optionClasses();

// Initialize KioskBoard (default/all options)
presc.initializeKioskboard();

// replaces the cms inputbox by ft + in inputboxes
presc.replaceHeightInputs();

// prevSlide btn in slidesPerView
presc.prevSlideButtons();

// nextSLide btn in slidesPerView
presc.nextSlideButtons();

// auto advance to next slide when an option is selected by user
presc.autoAdvance();

// Prevent pagination nav to undone tabs
presc.preventNavToUndoneTabs();

// range slider
presc.rangeSliderInteractions();

// analysis input validation
const aBtn = document.getElementById( "confirm-an" );
aBtn.addEventListener( "click", presc.validateTextInputs );

// weight input validation
// var wBtn = document.getElementById('confirm-weight');
// wBtn.addEventListener('click', validateTextInputs);

// height inputs validation
// var hBtn = document.getElementById('confirm-height');
// hBtn.addEventListener('click', validateTextInputs);

// eslint-disable-next-line indent
// document.addEventListener('keypress', getFormData);
</script>

{% endblock %}

{% set refs %}
	<ol class="refs" id="populate-refs">
		<li>Bula do produto Euthyrox® Levotiroxina sódica, medicamento similar equivalente ao medicamento de referência, aprovada pela ANVISA em 01/03/2021.</li>
		<li>Brenta G, Vaisman M, Sgarbi A. Bergoglio L.,et al. Consenso em Tireoide. Diretrizes clínicas práticas para o manejo do hipotiroidismo. Arquivo Bras Endrocrinol Metab. 2013; 57/4. Pag. 265-299</li>
	</ol>
{% endset %}