{% extends "dosage/base.html" %}

{% block content %}

	<h2 class="main-section-title"><small>Effects of</small></h2>
	<h3 class="sub-section-title">Overdosage and Underdosage</h3>


	<div class="subheader d-flex justify-content-between align-items-center">
		<!-- filter sex  -->
		<div class="swiper-pagination-tlab-sex"></div>

		<div class="more-info">
			<div class="btn-group">
			<div class="d-block dropdown-toggle icon-more" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"></div>
				<div class="dropdown-menu dropdown-menu-right">
					<button class="dropdown-item" type="button" data-toggle="modal" data-target="#absorption">Absorption</button>
					<button class="dropdown-item" type="button" data-toggle="modal" data-target="#treatment">Treatment Monitoring</button>
					<button class="dropdown-item" type="button" data-toggle="modal" data-target="#groups">Special Groups</button>
				</div>
			</div>
		</div>
	</div>

	 
	<!-- Slider main container -->
	<div class="swiper-container">

		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide-sex">

				<!-- If we need pagination -->
				<div class="swiper-pagination-tlab-dosage male">
					<!-- labels for use with js -->
					<span>Effects of levothyroxine<sup>1</sup> under-dosing</span>
					<span>Effects of levothyroxine overdose</span>
				</div>
				
				<!-- Slider main container -->
				<div class="swiper-container-dosage male {{baseClass}}">	  
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						
						<div class="swiper-slide">
							<h4>Effects of levothyroxine<sup>1</sup><br /> under-dosing</h4>
							<h5>Primary hypothyroidism</h5>
							<img class="slide-img" src="img/dosage/02-EN-DosageGraphic-M-Sub.svg" alt="under-dosing man">
						</div>

						<div class="swiper-slide">
							<h4>Effects of levothyroxine<br /> overdose</h4>
							<h5>Iatrogenic hyperthyroidism</h5>
							<img class="slide-img" src="img/dosage/01-EN-DosageGraphic-M-Sobre.svg" alt="overdose man">
						</div>

					</div>
				</div>

			</div>

			<!-- Slides -->
			<div class="swiper-slide-sex">


				<!-- If we need pagination -->
				<div class="swiper-pagination-tlab-dosage female">
					<!-- labels for use with js -->
					<span>Effects of levothyroxine<sup>1</sup> under-dosing</span>
					<span>Effects of levothyroxine overdose</span>
				</div>
				
				<!-- Slider main container -->
				<div class="swiper-container-dosage female {{baseClass}}">	  
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						 <!-- Slides -->
						 <div class="swiper-slide">
							<h4>Effects of levothyroxine<sup>1</sup><br /> under-dosing</h4>
							<h5>Primary hypothyroidism</h5>
							<img class="slide-img" src="img/dosage/04-EN-DosageGraphic-F-Sub.svg" alt="under-dosing woman">
						</div>

						<div class="swiper-slide">
							<h4>Effects of levothyroxine<br /> overdose</h4>
							<h5>Iatrogenic hyperthyroidism</h5>
							<img class="slide-img" src="img/dosage/03-EN-DosageGraphic-F-Sobre.svg" alt="overdose woman">
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>

	

	<!-- Modal : Absorption -->
	<div class="modal fade" id="absorption" data-keyboard="false" tabindex="-1" aria-labelledby="AbsorptionLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				
				<div class="modal-header">
					<h5 class="modal-title" id="AbsorptionLabel">Absorption<sup>1</sup></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<p>Levothyroxine plasma concentrations reach their peak about 4 hours after ingestion. Ideally, levothyroxine should be taken on an empty stomach at least 30 minutes before breakfast. Absorption can be maximised further if taken 60 minutes before or, for example, at bedtime without food.</p>

					<p>A number of medicines may inhibit absorption of levothyroxine, such as: calcium supplements, iron, proton pump inhibitors, cholestyramine, phosphorus chelates, aluminium antacids and sucralfate, among others.</p>
					
					<p>Concomitant dietary fibre intake reduces absorption of levothyroxine.</p>

					<p>Diseases or conditions that may impair (decrease) the absorption of levothyroxine:</p>

					<ul>
						<li>Helicobacter pylori</li>
						<li>infection</li>
						<li>Atrophic gastritis</li>
						<li>Celiac disease (gluten intolerance) and lactose intolerance Extreme obesity and advanced age</li>
						<li>Intestinal malabsorption syndromes</li>
						<li>Gastric bypass</li>
					</ul>	

				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal : Treatment -->
	<div class="modal fade" id="treatment" data-keyboard="false" tabindex="-1" aria-labelledby="TreatmentLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				
				<div class="modal-header">
					<h5 class="modal-title" id="TreatmentLabel">Treatment Monitoring<sup>1</sup></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<p>The primary goals of treatment of primary hypothyroidism are improvement of signs and symptoms (improvement time may be different for each clinical finding), normalisation of free T4,	T3, and TSH, which may usually take longer.</p>
			
					<p>Levothyroxine has a half-life of about 7 days. A steady state between T4 and TSH concentrations is generally achieved about 6 weeks after treatment begins.</p>

					<p>In cases of <b>severe hypothyroidism, or in patients with special conditions</b> requiring closer monitoring of thyroid function, the assay of TSH and free T4 should be performed 4 to 6 weeks after the start of treatment. This interval is extended as we approach a normal situation. In the long term, once the biochemical parameters have been normalised, an annual or semi-annual assay of TSH will be sufficient to monitor therapy.</p>

					<p><b>Clinical findings must be taken into account when adjusting therapy</b>, but doses should not be adjusted without biochemical assays (Ideally TSH and T4)</p>

					<p>Note that in pregnant women normal TSH values vary per trimester, considering the following upper limits of TSH normality:</p>

					<ul>
						<li>1st trimester-2.5 µU/L</li>
						<li>2nd trimester- 3.0 µU/L</li>
						<li>3rd trimester - 3,0 - 3,5 µU/L</li>				
					</ul>

					<p>Specific cut-offs of total T4 or free T4 should be used in pregnant women. <b>Pregnant women require higher than usual doses</b>, with recommended increments of 30% or more. Treatment is more closely monitored in children and pregnant women and is done monthly. In the first year of life, biochemical monitoring is required every 4 to 8 weeks. In the first half of the pregnancy, we suggest biochemical monitoring every 4 to 8 weeks. We recommend that children and pregnant women should be treated in centres that specialise in paediatric endocrinology.</p>

					<p>Normal TSH values are <b>slightly higher in the elderly</b>.</p>	
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal : Groups -->
	<div class="modal fade" id="groups" data-keyboard="false" tabindex="-1" aria-labelledby="groupsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				
				<div class="modal-header">
					<h5 class="modal-title" id="groupsLabel">Special Groups</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<p>Some patient groups in particular should pay special attention to compliance with treatment and frequent monitoring of their hormones:</p>

					<ul>
						<li>Pregnant or breastfeeding women</li>
						<li>Children</li>
						<li>Post-menopausal women</li>
						<li>Patients with or at risk of osteoporosis</li>
						<li>Patients with coronary heart disease, arrhythmia (especially those taking amiodarone, are at increased risk of hypo- and hyperthyroidism) or heart failure</li>
						<li>Patients with thyroid cancer on suppressive TSH therapy</li>
						<li>Patients without a thyroid gland (with no residual thyroid function)</li>
						<li>Patients with Graves’ disease being concomitantly treated with antithyroids</li>
						<li>Patients with a severe psychiatric disorder</li>
						<li>Patients receiving drugs that may impair the absorption or metabolism of levothyroxine</li>
						<li>Patients concomitantly medicated with warfarin (hyperthyroidism increases the anticoagulant efficacy of warfarin and hypothyroidism reduces it) or anticonvulsants (which reduce TSH, free T4 and total T3) </li>
					</ul>	
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- If we need navigation buttons -->
	<!-- <div class="swiper-button-prev"></div> -->
	<!-- <div class="swiper-button-next"></div> -->

	<!-- If we need scrollbar -->
	<!-- <div class="swiper-scrollbar"></div> -->

{% endblock %}

{% set refs %}
<ol class="refs">
		<li>Direção-Geral da Saúde. Norma n.º 039/11, Atualização 26/12/2012. Prescrição de Exames Laboratoriais para Avaliação e Monitorização da Função Tiroideia.</li>
</ol>
{% endset %}

{% block page_scripts %}

<style>

</style>

<script type="text/javascript">

	// console.log();
	const steps = ['male', 'female']

	//swiper wrapper
	const swiperSex = new Swiper('.swiper-container', {
		slideClass: 'swiper-slide-sex',
		slidesPerView: swiperHelper.getNumSlides(),
		centeredSlides: false,
		autoHeight: true,
		slidesOffsetBefore: swiperHelper.getPageOffset(),
		slidesOffsetAfter: swiperHelper.getPageOffset(),
		spaceBetween: 50,
		allowTouchMove: false,
		pagination: {
			el: '.swiper-pagination-tlab-sex',
			clickable: true,
			renderBullet: function (index, className) {
				// return '<span class="' + className + '">' + (index + 1).toString().padStart(2, 0) + '<span class="step-name">' + steps[index] + '</span>' + '</span>';

			return `<span class="${className}">
								<span class="icon-${steps[index]}"></span>
							</span>`;
			}
		},
		on: {
			resize: function () {
				swiperSex.params.slidesOffsetBefore = swiperHelper.getPageOffset();
				swiperSex.params.slidesOffsetAfter = swiperHelper.getPageOffset();
				swiperSex.params.spaceBetween = swiperHelper.getPageOffset();
				swiperSex.params.slidesPerView = swiperHelper.getNumSlides();
			}
		}
	});

	swiperHelper.applySlideWidth('.swiper-slide');

	const rewindEl = document.getElementById('swiper-rewind');
	const nextEl = document.querySelector('.swiper-button-next-tlab');

	const stepsDosageM = swiperHelper.getPaginationLabels('.swiper-pagination-tlab-dosage.male');

	const swiperM = new Swiper('.swiper-container-dosage.male', {
		// Optional parameters
		direction: 'horizontal',
		centeredSlides: false,
		spaceBetween: 25,
		nested: true,
		
		autoHeight: true,
		// loop: true,
		slidesPerView: 1,
		// allowSlideNext: false,
		allowTouchMove: true,
		loopFillGroupWithBlank: false,
		watchOverflow: true,

		effect: 'flip',
		flipEffect: {
			slideShadows: false,
		},

		breakpoints: {
			// 640: {},
			// 768: {},
			1024: {
				slidesPerView: '2',
				centeredSlides: false,
				spaceBetween: 50,
				effect:'coverflow',
				coverflowEffect: {
					rotate: 0,
					depth:0,
					slideShadows: false
				}
			},
			// 1280: {}
		},

		// If we need pagination
		pagination: {
			el: '.swiper-pagination-tlab-dosage.male',
			clickable: true,
			renderBullet: function (index, className) {
			// return '<span class="' + className + '">' + (index + 1).toString().padStart(2, 0) + '<span class="step-name">' + stepsDosage[index] + '</span>' + '</span>';

				return `<span class="${className}">
								<span class="step-name">${stepsDosageM[index]}</span>
								</span>`;
			}
		},

		on: {
			resize: function () {
				swiperM.update()
			}
		},
	});

	const stepsDosageF = swiperHelper.getPaginationLabels('.swiper-pagination-tlab-dosage.female');

	const swiperF = new Swiper('.swiper-container-dosage.female', {
		// Optional parameters
		direction: 'horizontal',
		centeredSlides: false,
		spaceBetween: 25,
		nested: true,
		
		autoHeight: true,
		// loop: true,
		slidesPerView: 1,
		// allowSlideNext: false,
		allowTouchMove: true,
		loopFillGroupWithBlank: false,
		watchOverflow: true,

		effect: 'flip',
		flipEffect: {
			slideShadows: false,
		},

		breakpoints: {
			// 640: {},
			// 768: {},
			1024: {
				slidesPerView: '2',
				centeredSlides: false,
				spaceBetween: 50,
				effect:'coverflow',
				coverflowEffect: {
					rotate: 0,
					depth:0,
					slideShadows: false
				}
			},
			// 1280: {}
		},

		// If we need pagination
		pagination: {
			el: '.swiper-pagination-tlab-dosage.female',
			clickable: true,
			renderBullet: function (index, className) {
			// return '<span class="' + className + '">' + (index + 1).toString().padStart(2, 0) + '<span class="step-name">' + stepsDosage[index] + '</span>' + '</span>';

				return `<span class="${className}">
									<span class="step-name">${stepsDosageF[index]}</span>
								</span>`;
			}
		},

		on: {
			resize: function () {
				swiperF.update()
			}
		}
	});

</script>

{% endblock %}
