{% extends "prescription/pack-calc.html" %}

{% block content %}

	<h2 class="main-section-title"><small data-lang>Calculate pack sizes</small></h2>
	<h3 class="sub-section-title" data-lang>Pack Calculator</h3>

	<!-- Swioer Navigation -->
	<!-- <div class="swiper-nav">
		<div class="swiper-button-prev-tlab icon-left">
		</div>
		<div class="swiper-button-next-tlab icon-right">
		</div>
		<div class="swiper-button-to-first-tlab icon-rewind" id="swiper-rewind">
		</div>
	</div> -->
	<!-- Slider main container -->
	<div class="swiper-container {{baseClass}}">
	  <!-- If we need pagination -->
	  <div class="swiper-pagination-tlab">
		<span data-lang>Dosage</span>
		<span data-lang>Result</span>
	  </div>
	  
	  <!-- Additional required wrapper -->
	  <div class="swiper-wrapper">
		<!-- Slides -->
		

		<div id="slide-calc" class="swiper-slide">
			<h4 data-lang>What is the intended prescription dosage?</h4>
				<div class="form-row align-items-stretch">

					<div class="form-group col-8 col-md-5 offset-md-2 float-label">
						<input class="form-control js-kioskboard-input" type="text" inputmode="decimal" name="dosage" id="dosage" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="[0-9]+([\.,][0-9]+)?" required>
						<label class="form-check-label" for="dosage">
							<span data-lang>Dosage</span> (mcg)
						</label>
					</div>
					<div class="form-group col-4 col-md-2 align-items-center" data-lang>
						mcg/day
					</div>
					<div class="form-group col-1 col-md-1 d-none d-md-flex align-items-center">
						<div class="icon-molecule-i"></div>
					</div>

				</div>
				<div class="form-row align-items-stretch">

					<div class="form-group col-8 col-md-5 offset-md-2 float-label">
						<input class="form-control js-kioskboard-input" type="text" inputmode="decimal" name="days" id="days" data-kioskboard-type="numpad" data-kioskboard-specialcharacters="false" value="" placeholder=" " pattern="(^[0-2][0-9][0-9]|^[0-9][0-9]|^[0-9])" required>
						<label class="form-check-label" for="days">
							<span data-lang>Days</span>
						</label>
						<div class="invalid-feedback" data-lang>
			    	 		Maximum 299 days
			    		</div>
					</div>
					<div class="form-group col-4 col-md-2 align-items-center">
						<span data-lang>Days</span>
					</div>
					<div class="form-group col-1 col-md-1 d-none d-md-flex align-items-center">
						<div class="icon-calendar-i"></div>
					</div>

				</div>

				<div class="form-row align-items-center">
					<div class="form-group col-md-8 offset-md-2 ">
						<button class="btn btn-outline d-block w-100" id="confirm-pack" data-lang>Confirm</button>
					</div>
				</div>
			

			<div class="form-group icon-form justify-content-center mt-1">
				<div class="icon-pack"></div>
			</div>

			<p class="help" data-lang>Insert the patient's daily dosage</p>

		</div>

		<div class="swiper-slide result">
			<h4 data-lang>Result</h4>

			<h5 data-lang id="dose-sentence">The recommended pack for a %num% mcg daily dosage for %days% days is:</h5>
			
			<div class="row text-center pb-2 justify-content-center result-vals">
				<div class="col-md-6" id="extra-pack" style="display: none">
					<div class="result-box">
						<div class="icns">
							<div class="icon-pack"></div>
						</div>
						<div class="pack-pic" style="display: none;">
							<img src="" alt="eutirox package">
						</div>
						<p class="result-title" id="extra-pack-sizes" data-lang="pc-boxes">
							%num% (box|boxes) of %quant% pills
						</p>
						<p class="result"><span id="biggest-pack-dosage">200</span> mcg</p>
					</div>
				</div>
				<div class="col-md-6" id="main-pack">
					<div class="result-box">
						<div class="icns">
							<div class="icon-pack"></div>
						</div>
						<div class="pack-pic" style="display: none;">
							<img src="" alt="eutirox package">
						</div>
						<p class="result-title" id="pack-sizes" data-lang="pc-boxes">
							%num% (box|boxes) of %quant% pills
						</p>
						<p class="result"><span id="pack">0</span> mcg</p>
					</div>
				</div>

			</div>

			<span class="help" data-lang="pc-disclaimer"></span>
			<div class="prev-question icon-left" data-lang>
				Back to previous question
			</div>

		</div>
				
			

		</div>
	  </div>
	  

	  <!-- If we need navigation buttons -->
	  <!-- <div class="swiper-button-prev"></div> -->
	  <!-- <div class="swiper-button-next"></div> -->

	  <!-- If we need scrollbar -->
	  <!-- <div class="swiper-scrollbar"></div> -->
	</div>


{% endblock %}

{% block page_scripts %}

<style>

</style>

<script type="text/javascript">

// get language from url parameter
const country = utils.getLanguage();

// translate to chosen language
const translation = new Translator();
translation.importLangsJson( appTranslations );

translation.populateTemplateFromString( appTranslations[country] );
translation.updateLocalizedLinks( country );

const steps = swiperHelper.getPaginationLabels( '.swiper-pagination-tlab' );

packCalc.setupLabels();

// get localized data vars
packCalc[country]();

// eslint-disable-next-line no-unused-vars
const swiper = new Swiper( '.swiper-container', {
	// Optional parameters
	direction: 'horizontal',
	centeredSlides: true,
	// slidesOffsetBefore: swiperHelper.getPageOffset(),
	// slidesOffsetAfter: swiperHelper.getPageOffset(),
	// autoHeight: true,
	loop: false,
	slidesPerView: 'auto',
	spaceBetween: 40,
	// allowSlideNext: false,
	allowTouchMove: false,

	breakpoints: {
		640: {
			slidesPerView: 'auto',
			spaceBetween: 20
		},
		768: {
			slidesPerView: 'auto',
			spaceBetween: 40
		},
		1024: {
			slidesPerView: 'auto',
			spaceBetween: 50
		},
		1280: {
			slidesPerView: 'auto',
			spaceBetween: 50
		}
	},

	// If we need pagination
	pagination: {
		el: '.swiper-pagination-tlab',
		// dynamicBullets: true,
		// dynamicMainBullets: 2,
		clickable: false,
		renderBullet: function ( index, className ) {
			// return '<span class="' + className + '">' + (index + 1).toString().padStart(2, 0) + '<span class="step-name">' + steps[index] + '</span>' + '</span>';

			return `<span class="${className}">
					   <span class="num">${( index + 1 ).toString().padStart( 2, 0 )}</span>
					   <span class="step-name">${steps[index]}</span>
					</span>`;
		}
	},

	on: {
		init: function () {
			console.log( 'initialized' );

			// prefill the dosage input with queryparam
			const queryString = window.location.search;
			const urlParams = new URLSearchParams( queryString )
			const hasDosage = urlParams.has( 'dosage' );
			if ( hasDosage ) {
				const dosage = urlParams.get( 'dosage' );
				document.querySelector( '[name=dosage]' ).value = dosage;
			}
		},
		resize: function () {
			// swiper.params.slidesOffsetBefore = getOffset();
			// swiper.params.slidesOffsetAfter = getOffset();
			// swiper.updateSlides()
		},
		reachEnd () {
			const form = getFormData();

			// packs is the size of the pills (mcg)
			// quantities is the number of pills in each pack

			let packs = packCalc.packs,
				quantities = packCalc.quantities,
				biggest = packs[packs.length - 1],
				extraPacks = 0,
				dosage = form.data.dosage,
				days = form.data.days,
				goal = 0,
				pic = packCalc.pic;

			if ( dosage > biggest ) {
				extraPacks = Math.floor( dosage / biggest );
				goal = dosage - ( biggest * extraPacks );

				if ( dosage % biggest === 0 ) {
					document.getElementById( 'main-pack' ).style.display = 'none';
				} else {
					document.getElementById( 'main-pack' ).style.display = 'block';
				}

				document.getElementById( 'extra-pack' ).style.display = 'block';
				document.getElementById( 'biggest-pack-dosage' ).innerHTML = biggest;
				// document.getElementById('num-packs').innerHTML = extraPacks;
			} else {
				document.getElementById( 'extra-pack' ).style.display = 'none';
				goal = dosage;
			}

			let closest = packs.reduce( function ( prev, curr ) {
				return ( Math.abs( curr - goal ) < Math.abs( prev - goal ) ? curr : prev );
			} );

			// if closest id bigger than requested dose serve the previous dosage in array
			console.log('closest: ' + closest + ' ' + goal);
			if ( closest > goal ) {
				const packPosition = packs.findIndex( pack => pack === closest );
				if ( packPosition > 0 ) closest = packs[packPosition - 1];
			}

			// change box quantities according to dosage
			if ( packCalc.packs2quant !== null ) {
				console.log( 'changed the boxxxxxx' );
				packCalc.quantities = packCalc.packs2quant[closest];
			}


			// calculate number of boxes for a given time period

			// descending order TODO: interate in packCalc
			quantities = packCalc.quantities.sort( ( a, b ) => a - b ).reverse();
			console.log( quantities );

			let packFraction = [];

			quantities.forEach( ( num, item ) => {
				let comb = [0],
					comb2 = [],
					i = 1;

				while ( comb[comb.length - 1] < 1 ) {
					let fraction = num / days * i;
					comb.push( fraction );
					comb2.push( fraction + '|' + item + ':' + i );
					i++;
				}

				comb.shift();
				packFraction.push( comb2 )
			} );
			console.log( packFraction );

			const mergedPF = [].concat.apply( [], packFraction );

			console.log( mergedPF );

			const subsets = utils.getAllSubsets( mergedPF );
			subsets.shift();
			console.log( subsets );

			let sums = [];
			subsets.forEach( ( el, i ) => {
				sums[i] = el.reduce( ( accumulator, currentValue ) => {
					newA = accumulator.split( '|' );
					newCV = currentValue.split( '|' );
					return ( parseFloat( newA[0] ) + parseFloat( newCV[0] ) ).toFixed( 12 ) + '|' + newA[1] + '+' + newCV[1];
				} );
			} );

			sums = sums.sort( ( a, b ) => packCalc.utils.getTheValue( a ) - packCalc.utils.getTheValue( b ) );

			console.log( sums );


			// find the first result bigger than one
			const rightIndex = sums.findIndex( function ( number ) {
				return packCalc.utils.getTheValue( number ) >= 1;
			} );

			const right = sums[rightIndex];


			console.log( right );
			console.log( packCalc.utils.result2json( right ) );

			const packsJson = packCalc.utils.result2json( right );
			const numPacksEl = document.getElementById( 'num-packs' );
			let finalString = "";

			quantities.forEach( ( el ) => {
				if ( packsJson[el] ) {
					let boxSentence = packCalc.labels.templateBoxSentence;

					boxSentence = boxSentence.replace( '%num%', packsJson[el] );
					boxSentence = boxSentence.replace( /\((\w*)\|(\w*)\)/, ( match, sin, plu ) => {
						return ( parseInt( packsJson[el] ) > 1 ) ? plu : sin;
					} );
					boxSentence = boxSentence.replace( '%quant%', el );
					// finalString += `${packsJson[el]} x ${packLabel} ${el} <br />`
					finalString += `${boxSentence} <br />`
				}
			} );

			finalString = finalString.substring( 0, finalString.length - 6 );

			let finalStringExtraPacks = "";
			quantities.forEach( ( el ) => {
				if ( packsJson[el] ) {
					let boxSentence = packCalc.labels.templateBoxSentence;

					boxSentence = boxSentence.replace( '%num%', packsJson[el] );
					boxSentence = boxSentence.replace( /\((\w*)\|(\w*)\)/, ( match, sin, plu ) => {
						return ( parseInt( packsJson[el] ) > 1 ) ? plu : sin;
					} );
					boxSentence = boxSentence.replace( '%quant%', el );

					finalStringExtraPacks += `${boxSentence} <br />`
				}
			} );


			finalStringExtraPacks = finalStringExtraPacks.substring( 0, finalStringExtraPacks.length - 6 );

			// process and change dose sentece (h4 above the packs)
			let currentDoseSentence = packCalc.labels.templateDoseSentence.replace( '%num%', dosage );
			currentDoseSentence = currentDoseSentence.replace( '%days%', days );

			// log analytics
			logAnalyticsPackCalc( dosage, days, packsJson, closest );

			const doseSentenceEl = document.getElementById( 'dose-sentence' );
			doseSentenceEl.innerHTML = currentDoseSentence;


			document.getElementById( 'pack-sizes' ).innerHTML = finalString;
			document.getElementById( 'extra-pack-sizes' ).innerHTML = finalStringExtraPacks;
			document.getElementById( 'pack' ).innerHTML = closest;

			// if packCalc pic is set replace icon by images
			if ( pic ) {
				document.querySelector( '#main-pack .icns' ).style.display = 'none';
				document.querySelector( '#main-pack .pack-pic' ).style.display = 'block';

				document.querySelector( '#main-pack .pack-pic img' ).src = packCalc.getPicUrl( closest );

				// extra pack
				document.querySelector( '#extra-pack .icns' ).style.display = 'none';
				document.querySelector( '#extra-pack .pack-pic' ).style.display = 'block';

				document.querySelector( '#extra-pack .pack-pic img' ).src = packCalc.getPicUrl( biggest );
			}
		},
		slideChange: function () {
			// nothing to do...
		}
	}
} );


// Since the functionality is so similar to the prescription page
// we use selected functions intended for the prescription calculator
// do not edit these functions specifically for this page, instead create new ones

// Initialize KioskBoard (default/all options)
presc.initializeKioskboard();

// prevSlide btn in slidesPerView
presc.prevSlideButtons();

// nextSLide btn in slidesPerView
presc.nextSlideButtons();

// analysis input validation
const aBtn = document.getElementById( 'confirm-pack' );
aBtn.addEventListener( 'click', presc.validateTextInputs );


// specific get form data for pack calc
function getFormData () {
	const els = document.querySelectorAll( 'input' );
	console.log( els );
	const formData = {};
	const formLabels = {};
	els.forEach( el => {
		if ( el.checked ) {
			formData[el.name] = el.value;
			formLabels[el.name] = el.parentElement.querySelector( 'label p.option-main' ).innerHTML;
			if ( el.parentElement.querySelector( 'label p.option-desc' ) ) {
				formLabels[el.name] += ' ' + el.parentElement.querySelector( 'label p.option-desc' ).innerHTML;
			}
		}
		console.log( el );
		if ( el.name === "dosage" && el.value != '' ) {
			formData[el.name] = el.value;
			formLabels[el.name] = `Dosage: ${el.value}mcg`;
		}
		if ( el.name === "days" && el.value != '' ) {
			formData[el.name] = el.value;
			formLabels[el.name] = `Num of days: ${el.value}`;
		}
	} );

	console.log( formData, formLabels );
	const form = {
		data: formData,
		labels: formLabels
	}
	return form;
}
// document.addEventListener('keypress', getFormData);

</script>

{% endblock %}
