{% extends "auth/base.html" %}

{% block content %}
<div class="row form">
	<div class="col-12 offset-md-1 col-md-11 intro text-center text-sm-left">
		<p class="mb-0"><b><span data-lang="welcome">Welcome!</span></b></p>
		<p class="mb-4"><span data-lang="select_language">Select Language</span></p>
	</div>

	<div class="col-12 offset-md-1 col-md-11 lang-select">
		<form style="max-width: 300px" class="mx-auto mx-sm-0 needs-validation" action="chooseIdioma://tlab-insideapp.pt/" id="lang-selector" novalidate>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="country" id="en_GB" value="en_GB" required>
			<label class="form-check-label" for="en_GB">
				English
				<img src="img/flags/gb.svg" alt="gb flag" class="flags">
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="country" id="pt_PT" value="pt_PT">
			<label class="form-check-label" for="pt_PT">
				Português (Portugal)
				<img src="img/flags/pt.svg" alt="pt flag" class="flags">
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="country" id="pt_BR" value="pt_BR">
			<label class="form-check-label" for="pt_BR">
				Português (Brasil)
				<img src="img/flags/br.svg" alt="br flag" class="flags">
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="country" id="fr_FR" value="fr_FR">
			<label class="form-check-label" for="fr_FR">
				Français
				<img src="img/flags/fr.svg" alt="fr flag" class="flags">
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="country" id="es_ES" value="es_ES">
			<label class="form-check-label" for="es_ES">
				Español
				<img src="img/flags/es.svg" alt="es flag" class="flags">
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="country" id="de_DE" value="de_DE">
			<label class="form-check-label" for="de_DE">
				Deutsch
				<img src="img/flags/de.svg" alt="de flag" class="flags">
			</label>
			<div class="invalid-feedback">
				Select a Country
			</div>
		</div>
		<div class="container-btn text-center text-sm-left">
			<button type="submit" class="btn btn-primary mt-3" data-lang="next">Next</button>
		</div>
		</form>
		<a href="01_main-menu.html">SKIP TO CONTENT</a>
	</div>
</div>
{% endblock %}

{% block page_scripts %}

<script type="text/javascript">
	
	const langsVar = { 
		pt_PT: {
			"tag_line": "Ferramenta de apoio ao diagnóstico<br />de doenças da tiroide e prescrição de <b>Eutirox<sup>®</sup></b>", 
			"welcome": "Bem-vindo(a)!",
			"select_language": "Selecione o idioma",
			"next": "seguinte",
			"copyright": "Todos os direitos reservados"
		},
		pt_BR: {
			"tag_line": "Ferramenta de apoio ao diagnóstico<br />de doenças da tiroide e prescrição de <b>Eutirox<sup>®</sup></b>", 
			"welcome": "Bem-vindo(a)!",
			"select_language": "Selecione o idioma",
			"next": "seguinte",
			"copyright": "Todos os direitos reservados"
		},
		fr_FR: {
			"tag_line": "Outil d'aide au diagnostic<br />maladie thyroïdienne et prescription de <b>Eutirox<sup>®</sup></b>", 
			"welcome": "Bienvenue!",
			"select_language": "Sélectionnez la langue",
			"next": "Suivant",
			"copyright": "Tous les droits sont réservés"
		},
		es_ES: {
			"tag_line": "Herramienta de apoyo para el diagnóstico <br /> de enfermedades tiroideas y prescripción de <b>Eutirox<sup>®</sup></b>", 
			"welcome": "Bienvenido!",
			"select_language": "Seleccione el idioma",
			"next": "Siguiendo",
			"copyright": "Reservados todos los derechos"
		},
		de_DE: {
			"tag_line": "Unterstützungsinstrument für die Diagnose<br /> von Schilddrüsenerkrankungen und die Verschreibung von <b>Eutirox<sup>®</ sup></ b>", 
			"welcome": "Herzlich willkommen!",
			"select_language": "Sprache auswählen",
			"next": "Im Folgenden",
			"copyright": "Alle Rechte vorbehaltens"
		}
	}
	

	//form

	var translation = new Translator;
	translation.importLangsJson(langsVar);


	var langFormEl = document.getElementById('lang-selector')
	langFormEl.addEventListener('change', updateLanguage);

	function updateLanguage(e) {
		let lang = e.target.value;
		translation.populateTemplate(translation.langs[lang]);
	}


	
		
</script>

{% endblock %}
