/*************************************************
 * main
**************************************************/
.form .intro {
	color: var(--blue)
}
.form .register .float-label label {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    font-size: 0.9em;
}

.form .register label {
    font-size: 0.9em;
}

.form .register label.pp {
    font-size: 0.75em;
}

.form .register .form-control:focus ~ label,
.form .register .form-control:not(:placeholder-shown) ~ label {
    top: 0.4rem;
    font-size: 0.75rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.form .register .form-control {
    padding-top: 2.25rem;
    padding-bottom: 1.25rem;
}
 /*************************************************
 * forms
**************************************************/

.lang-select .form-check {
	margin-bottom: 1em;
	padding-left: 0;
}

.lang-select .flags {
	width: 28px;
	height: auto;
	float: right;
}

.auth {
    
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 50px;
        cursor: pointer;
        line-height: 30px;
        display: inline-block;
        color: var(--gray-dark);
        min-width: 270px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 28px;
        height: 28px;
        border: 1px solid var(--gray-light);
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 20px;
        height: 20px;
        background: var(--pink);
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

}
