// bootstrap.scss
// Option A: Include all of Bootstrap

// https://getbootstrap.com/docs/4.5/getting-started/theming/

$theme-colors: (
  "pink": 			      #E72F89,
  "pink-dark": 		    #CB2074,
  "pink-light":       #E989B8,
  "primary": 		      #E72F89,
  "primary-dark":     #CB2074,
  "primary-light":    #E989B8,
  "blue": 			      #0F69AF,
  "blue-light":       #59a6e2,
  "secondary": 		    #0F69AF,
  "secondary-light":  #59a6e2,
  "white": 			      #FFFFFF,
  "white-bg": 		    #FFFFFF,
  "gray-dark": 		    #272727,
  "gray-medium": 	    #7D868C,
  "gray-light": 	    #C8C8C8,
  "gray-light-x":     #FAFAFA,
  "swiper-theme-color": #0F69AF
);


//:root {
// 	--pink: #E72F89;
// 	--pink-dark: #CB2074;
// 	--primary: #E72F89;
// 	--primary-dark: #CB2074;
//     --blue: #0F69AF;
//     --white: #FFFFFF;
//     --white-bg: #FFFFFF;
//     --gray-dark: #272727;
//     --gray-medium: #7D868C;
//     --gray-light: #C8C8C8;
// }

@import "../../node_modules/bootstrap/scss/bootstrap";

// darkmode specific styles
// @import "darktheme";


//only required
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/utilities";