/*
* Specific styles for darkmode active
*/

@media (prefers-color-scheme: dark) {
  :root {
    --white:            #272727;
    --gray:             #8D98A3;
    --gray-dark:        #C8C8C8;
    // --gray-medium:      invert(#7D868C);
    // --gray-light:       invert(#C8C8C8);
    --gray-light-x:     #383838;
    --blue:             #3FA8FB;
    --secondary:        #3FA8FB;
    --blue-light:       #7AC2FB;
    --secondary-light:  #7AC2FB;
  }
  body {
    background-color: var(--white);
  }

  .swiper-pagination-tlab .swiper-pagination-bullet .num {
    box-shadow: -2px 3px 1px rgba(253, 253, 253, 0.28) !important;
  }
  .swiper-slide {
    box-shadow: 0px 3px 5px rgba(222, 222, 222, .28) !important;
  }

  #logo img.logo {
    filter: brightness(300%);;
  }

  nav#main-menu ul li .icon div[class^=icon]:before {
    color: var(--gray-light-x) !important;
  }

  .float-label label {
    color: var(--gray-light-x) !important;
  }

  .dosage .slide-img {
    filter: brightness(150%);
  }

  .modal-content {
    background-color: var(--white);
  }
  .modal-content .close {
    color: var(--gray-dark);
  }
  .table {
    color: var(--gray-dark);
  }
}