.diagnostic {

	.swiper-container {
		
	}
	.swiper-slide {
		// padding: 1.5em 3.5em 1.5em 2em;
		// border-radius: 20px;
		// box-shadow: 0px 3px 12px rgba(28, 28, 28, 0.2);
		height: auto;
		background: url(../img/decoration.svg) 148% 30% no-repeat, 
                    linear-gradient(173deg, #ffffff 10%, #fafafa 75%);
        background-size: 50%;
        margin-top: 0.5em;
	}

	.text-cols-2 {
		@include media-breakpoint-up(sm) {
			column-count: 2;
			column-gap: 2em;
		}
	}

	.swiper-nav {
		display: flex;
		justify-content: space-around;
		@include media-breakpoint-up(sm) {
			justify-content: flex-start;
		}
		div::before {
			font-size: 44px;
			color: var(--blue);
		}

		div.swiper-button-disabled {
			opacity: 0.4;
		}
		div {
			// width: 50px;
			margin-top: 0.25em;
			img {
				display: block;
				width: 100%;
				height: auto;

			}
		}
	}

	h4 {
		position: relative;
		font-weight: bold;
		font-size: 1.2em;
		color: var(--primary);
		margin-bottom: 1.25em;
		padding-left: 2.5em;

		img {
			margin-top: -0.25em;
			width: 38px;
			padding-right: 0.5em;
		}

		&::before {
			position: absolute;
			top: calc(50% - 0.5em);
			left: 0;
			font-size: 1.75em;
			margin-right: 0.2em;
			color: var(--gray);
		}
	}

	h5 {
		color: var(--primary);
		margin-bottom: 0.1em;
		font-size: 1.1em;
	}
	p, li {
		font-size: 0.9em;
	}
	p.footnote {
		font-size: 0.8em;
	}
}