.dosage {
    .swiper-slide h4 {
        text-align: center;
        margin-bottom: 0em;
    }
    .swiper-slide h5 {
        text-align: center;
        margin-bottom: 0.75em;
        font-size: 0.9em;
    }

    .swiper-container-dosage {
        // overflow: hidden;
    }

    .swiper-slide {
        // width: calc(100% - 74px * 2);
        // max-width: 550px;
        // width: auto;
        padding: 1.5em 0.75em 1.5em 0.75em;
        @include media-breakpoint-up(sm) {
            padding: 1.5em 2em 1.5em 2em;
        }
        // margin: 0 auto;
        img {
            height: auto;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .subheader {
            margin: 1em 0 1.5em;

        .more-info {
        }
        .icon-more {
            background-color: var(--gray-light);
            // height: 3em;

            border-radius: 50%;
            &:before {
                display: block;
                padding: 0.25em;
                font-size: 1.75em;
                color: var(--white-bg);
            }
            &:after {
                display: none;
            }
        }
    }
}

.swiper-pagination-tlab-sex {

    // margin: 1em 0 1.5em;

    .swiper-pagination-bullet {
        opacity: 1;
        height: 3em;
        width: 3em;
        @include grad-white;
        box-shadow: 0px 3px 12px rgba(28, 28, 28, 0.2);
        border-radius: 30%;
        margin-right: 10px;

        span:before {
            font-size: 2.5em;
            display: block;
            padding-top: 0.075em;
            text-align: center;
        }
        

        &-active {
            @include grad-blue;
            //box-shadow: 0px 3px 12px rgba(28, 28, 28, 0.2);

            span:before {
                color: var(--white-bg)
            }
        }
    }

}

.swiper-pagination-tlab-dosage {
    display:flex;
    width:100%;
    margin-bottom: 0.75em;
    justify-content: space-between;
    z-index: 1000;

    @include media-breakpoint-up(lg) {
        & {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        padding: 0.5em;
        opacity: 1;
        height: auto;
        line-height: 1.1em;
        width: 48%;
        background: transparent;
        border:1px solid var(--primary);
        // flex-direction: row;
        border-radius: 8px;
        text-align: center;
        outline: none;

        span {
            display: block;
            color: var(--primary);
        }

        small {
            display: block;
            text-align: center;
            padding-top: 0.5em;
        }

        &-active {
            background-color:var(--primary);
            border:1px solid  var(--primary);
            color: white;
            span{
                color: var(--white-bg);
            }
        }
    }
}