 /*************************************************
 * footer
**************************************************/

footer.auth {
	margin-top: 2.5rem;
	
	.logo {
    	width: 100px;
    	height: auto;
	}
}

footer.menu {
	p {
		font-size: 0.8em;
	}
}