 /*************************************************
 * Header
**************************************************/
header {
	@include media-breakpoint-down(xs) {
		position: sticky;
		top: 0;
		background-color:var(--white);
		z-index: 10;
		box-shadow: 0 1px 12px rgba(0,0,0,0.1);
		padding-bottom: 0.5rem;

	}
	.start-button {
		min-height: 60px;
	}
}

header.auth {
	margin-top: 1.5rem;

	h2 {
		margin-top: 0.5rem;
		font-size: 1.1rem;
	    font-weight: normal;
	}
	.brand {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}