@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?wqld3n') format('truetype'),
    url('fonts/icomoon.woff?wqld3n') format('woff'),
    url('fonts/icomoon.svg?wqld3n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cardiac:before {
  content: "\e915";
}
.icon-tablet-i:before {
  content: "\e91f";
}
.icon-person_cut-i:before {
  content: "\e920";
}
.icon-person_thyroide-i:before {
  content: "\e921";
}
.icon-molecule-i:before {
  content: "\e923";
}
.icon-thyroid-i:before {
  content: "\e922";
}
.icon-bed-i:before {
  content: "\e946";
}
.icon-calendar-i:before {
  content: "\e947";
}
.icon-menu-diagnostic:before {
  content: "\e900";
}
.icon-menu-dosage:before {
  content: "\e901";
}
.icon-menu-prescription:before {
  content: "\e902";
}
.icon-menu-calc:before {
  content: "\e903";
}
.icon-ruller:before {
  content: "\e91c";
}
.icon-scale:before {
  content: "\e91d";
}
.icon-pack:before {
  content: "\e91e";
}
.icon-left:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e909";
}
.icon-up:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90b";
}
.icon-rewind:before {
  content: "\e90c";
}
.icon-baby-m:before {
  content: "\e90d";
}
.icon-baby-f:before {
  content: "\e90e";
}
.icon-girl:before {
  content: "\e90f";
}
.icon-boy:before {
  content: "\e910";
}
.icon-teen:before {
  content: "\e911";
}
.icon-man:before {
  content: "\e912";
}
.icon-woman:before {
  content: "\e913";
}
.icon-preagnant:before {
  content: "\e914";
}
.icon-couple:before {
  content: "\e924";
}
.icon-elder:before {
  content: "\e916";
}
.icon-male:before {
  content: "\e917";
}
.icon-female:before {
  content: "\e918";
}
.icon-finish:before {
  content: "\e919";
}
.icon-capsule-open:before {
  content: "\e91a";
}
.icon-tools:before {
  content: "\e91b";
}
.icon-title-danger:before {
  content: "\e904";
}
.icon-title-doc-plus:before {
  content: "\e905";
}
.icon-title-doc-tick:before {
  content: "\e906";
}
.icon-title-doc-tick-plus:before {
  content: "\e907";
}
.icon-more:before {
  content: "\e948";
}
