/*************************************************
 * Menu
**************************************************/

nav#main-menu  {
    margin:1em 0 1em;
    ul {
        padding: 1.25em 0 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            position: relative;
            flex-basis: 100%;
            border-radius: 12px;
            min-height: 125px;
            display: block;
            background-color: var(--blue);
            color: var(--white-bg);
            // margin-top: 2em;
            margin-bottom: 1em;
            padding: 0;
            font-size: 0.85em;

            background: url(../img/menu-cutout.svg) -70px -60px no-repeat, 
                        url(../img/menu_dec-2.svg) 115% 15px no-repeat, 
                        linear-gradient(173deg, #59a6e2 10%, 
                            #0f69af 75%);
            background-size: 150px, 45%, 100%;
            box-shadow: 0px 3px 11px rgba(28, 28, 28, 0.32);
            background-blend-mode: normal, overlay;
            transition: background-position 0.3s;

            .box {
                //border-radius: 12px;
                // @include grad-white;
                height: 100%;
                padding: 0em 1em 0em 6em;
            }

            .icon {
                position: absolute;
                width: 6.5em;
                height: 6.5em;
                /*padding: 1.1em 1.25em;
                top: 0.5em;
                left: 0em; */
                padding: 0;
                top: 0.25em;
                left: 0.25em; 
                //background: url(../img/icons/interface/shape.svg);
                //background-size: contain;
                //background-repeat: no-repeat;
                img {
                    width: 100%;
                    height: auto;
                }
                div[class^=icon]:before {
                    font-size: 3.75em;
                    color: var(--gray-dark);
                    // opacity: 0.8;
                }
            }

            a {
                display: inline-block;
                padding: 0.75em 0.75em 1.25em 0.75em;
                color: var(--white-bg);
                width: 100%;
                height: 100%;

                &:hover {
                    text-decoration: none;
                    //transform: scale(1.05);
                }
            }

            .menu-name {
                font-size: 1.65em;
                line-height:1;
                // text-align: center;
                // letter-spacing: -0.075em;
                color: var(--white-bg);
                //color: var(--secondary);
            }
            .menu-desc {
                // text-align: center;
                font-size: 0.9em;
                padding-bottom: 2em;
                color: var(--white-bg);
            }

            .menu-action {
                position: absolute;
                bottom:1.25em;
                left: 6.75em;
                display: inline-block;
                //color: var(--secondary);
                color: var(--white-bg);
                font-weight: bold;

                .icon-right {
                    display: block;
                    position: absolute;
                    font-size: 2em;
                    top: -0.15em;
                    right: -1.25em;
                }
            }

            &:nth-child(2n) {
                background: url(../img/menu-cutout.svg) -70px -60px no-repeat, 
                            url(../img/menu_dec-2.svg) 115% 15px no-repeat, 
                            linear-gradient(173deg, #e989b8 10%, #e72f89 75%);
                background-size: 150px, 45%, 100%;
                background-blend-mode: normal, normal;

            }

            &:hover {
                background-position: -70px -60px, 140% 35px, 0;
                transition: background-position 0.3s;
            }

            @include media-breakpoint-between(sm, md) {
                flex-basis: 49%;
                &:nth-child(2n-1) {
                    margin-right: 2%;
                }
            }

            @include media-breakpoint-up(lg) {
                flex-basis: 32%;
                &:nth-child(3n-1) {
                    margin-right: 2%;
                    margin-left: 2%;
                }
            }
        }
    }
}

nav#main-menu-diagnostic {
    margin:2em 0 1em;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        li {
            position: relative;
            flex-basis: 100%;
            border-radius: 12px;
            min-height: 125px;
            display: block;
            background-color: var(--blue);
            color: var(--white-bg);
            margin-bottom: 1em;
            background: url(../img/menu-cutout.svg) -70px -60px no-repeat, 
                        url(../img/menu_dec-2.svg) 115% 15px no-repeat, 
                        linear-gradient(173deg, #59a6e2 10%, 
                            #0f69af 75%);
            background-size: 150px, 45%, 100%;
            box-shadow: 0px 3px 11px rgba(28, 28, 28, 0.32);
            background-blend-mode: normal, overlay;
            font-size: 1.1em;
            font-weight: bold;
            transition: background-position 0.3s;

            @include media-breakpoint-up(sm) {
                font-size: 0.90em;
            }

            // -48% 240% size:50%
            &:nth-child(2n) {
                background: url(../img/menu-cutout.svg) -70px -60px no-repeat, 
                            url(../img/menu_dec-2.svg) 115% 15px no-repeat, 
                            linear-gradient(173deg, #e989b8 10%, #e72f89 75%);
                background-size: 150px, 45%, 100%;
                background-blend-mode: normal, normal;

            }

            &:hover {
                background-position: -70px -60px, 140% 35px, 0;
                transition: background-position 0.3s;
            }

            @include media-breakpoint-between(sm, md) {
                flex-basis: 49%;
                &:nth-child(2n-1) {
                    margin-right: 2%;
                }
            }

            @include media-breakpoint-up(lg) {
                flex-basis: 32%;
                &:nth-child(3n-1) {
                    margin-right: 2%;
                    margin-left: 2%;
                }
            }

            img {
                position: absolute;
                width: 54px;
                top: 0.25em;
                left: 0.25em; 
            }

            a {
                display: block;
                padding: 0.75em 0.75em 0.75em 80px;
                color: var(--white-bg);
                width: 100%;
                height: 100%;
                &:hover {
                    text-decoration: none;
                }
            }

            &:hover {
                // transform: scale(1.03);
            }

        }
    }
}

nav#menu-bottom {
    z-index: 100;
    margin:0;
    padding:0.5em 0.25em;
    background: var(--white);
    box-shadow: 0px 8px 30px rgba(47, 47, 47, 0.3);

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    ul {
        display: flex;
        justify-content: flex-begin;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            width: 10em;
            font-size: 0.6em;
            padding: 0 0.75em;
            margin:0;
            text-align: center;
            line-height: 1em;
            border-right: 1px solid var(--gray-light);
            @media only screen and (min-width: 374px) {
                font-size: 0.75em;
            }
        }
        li:last-child, li:nth-last-child(2) {
            border:none;
        }

        img {
            display: block;
            height: 3.5em;
            width: auto;
            margin: 0 auto;
            margin-bottom: 0.25em;
        }

        a {
            color: var(--gray-dark);
            display: block;
            width: 100%;
            height: 100%;
        }

        a::before {
            display: block;
            font-size: 3em;
        }

        a:hover, a.active {
            text-decoration: none;
            color: var(--pink);
        }

        li#logo {
            align-self: center;
            margin-left: auto;
            img {
                height: 1em;
            }
        }
    }
}

//active classes "hack"
// .disgnostic nav#menu-bottom a,
// .prescription nav#menu-bottom a {
//     color: var(--pink);
// }