
//gradiant 
@mixin grad-blue {
	background: linear-gradient(var(--blue) 0%, var(--blue-light)  100%);
	box-shadow: 0px 3px 7px rgba(28, 28, 28, 0.28);
}

@mixin grad-pink {
	background: linear-gradient(var(--pink) 0%, var(--pink-light)  100%);
	box-shadow: 0px 3px 7px rgba(28, 28, 28, 0.28);
}

@mixin grad-white {
	background: linear-gradient(var(--white) 0%, var(--gray-light-x)  100%);
	box-shadow: 0px 3px 7px rgba(28, 28, 28, 0.28);
}