.prescription, .pack-calc {
    h3 {
        padding-bottom: 0.5em;
    }
	h4 {
        font-size: 1.4em;
        letter-spacing: -0.05em;
		text-align: center;
        padding: 0.25em 0 1.1em;
	}
    h5 {
        text-align: center;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        // font-weight: bold;
        padding-bottom: 0.4em;
    }
    main {
        margin-bottom: 5em;
    }

    .pack-pic img {
        width: 100%;
        height: auto;
    }
}

.prescription, .pack-calc {

    #slide-weight .form-row .form-group.was-validated ~ .form-group,
    #slide-calc .form-row .form-group.was-validated ~ .form-group{
        max-height:3.5rem;
    }

    #slide-weight .form-row .form-group.was-validated .form-control:valid,
    #slide-weight .form-row .form-group .form-control.is-valid,
    #slide-weight .form-row .form-group.was-validated .form-control:invalid,
    #slide-weight .form-row .form-group .form-control.is-invalid{
        background-position: right 6% center;
    }

	.form-group {
		display: flex;
        flex-direction: column;
		// color: var(--white-bg);
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;

		[class^="icon-"]:before, [class*=" icon-"]:before {
			font-size: 3em;
			margin: auto;
		}
        [class^="icon-"].smaller:before, [class*=" icon-"].smaller:before {
            font-size: 2em;
        }

        .option-icons {
            margin: 0 -0.25em;
        }

		& > .form-check {
            flex-basis: 48%;

            // width: 33%;
			margin: 2% 0;
			border-radius: 12px;
			padding: 1em 0.75em;
            transition: transform 0.2s;
		}
        .option-main {
            font-size: 0.9em;
            line-height: 1.2em;
            margin-bottom: 0.5em;
        }
        .option-desc {
            font-size: 0.75em;
            line-height: 1.1em;
            margin-bottom: 0;
        }
        @include media-breakpoint-up(md) {
            flex-direction: row;

            & > .form-check {
                // width: 100%;
                margin: 1% 1%;
            }
        }

        &.cols-3 .form-check {
            flex-basis: 31.33%;
        }
	}
	.form-group .form-check:nth-child(odd) {
		@include grad-pink;
	}

	.form-group .form-check:nth-child(even) {
		@include grad-blue;
	}
	

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        display: block;
        width: 100%;
        height: 100%;
        color: var(--white-bg);
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        // content: '';
        // position: absolute;
        // left: 0;
        // top: 0;
        // width: 28px;
        // height: 28px;
        // border: 1px solid var(--gray-light);
        // border-radius: 100%;
        // background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '✓';
        font-size: 1.25em;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 0.5em;
        right: 0.25em;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        color: var(--white-bg);
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .inactive {
        opacity: 0.7;
        filter: grayscale(15%);
        transform: scale(0.95);
    }

    .help {
        text-align: center;
        margin: 2em 0 0;
        font-size: 0.75em;
    }

    .float-label label {
        position: absolute;
        top: 1.2rem;
        left: 1rem;
        font-size: 0.9em;
        color: var(--gray-dark);
    }

    .form-control:focus ~ label,
    .form-control:not(:placeholder-shown) ~ label {
        top: 0.4rem;
        font-size: 0.75rem;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .float-label .form-control {
        padding-top: 2.25rem;
        padding-bottom: 1.25rem;
    }
    .form-control {
        height:3.5rem;
    }
    
    .float-label select.form-control {
        padding:1rem 0.4rem 0 0.4rem;
    }
    .float-label select:invalid{
        color:#abadaf;
        font-size:0.9rem;
    }
    .float-label select > option{
        color:#495057;
        font-weight:400;
    }

    .icon-form [class^="icon-"]:before {
        display: block;
        color: var(--primary);
    }

    .result {
        h3 {
            font-size: 1.4em;
        }
        &#results {
            h4 {
                text-align: left;
            }
            h4,h3 {
                margin-bottom: 0;
                padding-bottom: 0.25em;
            }
            h5 {
                padding-bottom: 0.75em;
            }
        }
        p, table, ul {
            font-size: 0.9em;
        }

        .result-vals {
            // margin: 1em;
        }
        // special sup for dose refs
        [id*=dose] .result-box sup {
            font-size: 0.5em;
            top:-1em;
            color: var(--gray-medium);
        }

        .result-box {
            @include grad-white;
            border-radius: 12px;
            padding: 0.75em 1em 1em;
            margin-bottom: 1em;
            color: var(--gray-dark);
        }

        .result-title {
            font-size: 0.85em;
            font-weight: bold;
            margin-bottom: 0;
            line-height: 1.25em;
        }

        .result {
            font-size: 1.4em;
            line-height: 1em;
            margin: 0;
            padding-top: 0.25em;
        }

        .info {
            font-size: 0.8em;
        }

        .icns {
            display: flex;
            justify-content: center;

            & > *:before {
                font-size: 3.5em;
                color: var(--primary);
            }
        }

    }

    .btn {
        // margin-top: -0.25em;
        min-height: 56px;
    }

    .prev-question {
        position: absolute;
        bottom: -3em;
        left: 0.5em;
        font-size: 1em;
        color: var(--secondary);
        cursor: pointer;
        &:before {
            display: block;
            float: left;
            margin-top: -0.125em;
            margin-right: 0.25em;
            font-size: 2em;
        }
    }
}