.swiper-container {
	// width: 100%;
	height: auto;
	padding: 0.25em 0 4em;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
.swiper-slide {
	padding: 1.5em 5.5em 1.5em 2em;
	border-radius: 20px;
	@include grad-white;
	margin-top: 0.5em;
}
.prescription .swiper-container {
	padding-bottom: 4em;
}
.prescription .swiper-slide, .pack-calc .swiper-slide {
	width: 90%;
	max-width: 625px;
	padding: 1.5em 2em 1.5em 2em;
	margin: 0 auto;
	opacity: 0.6;
	transform: scale(0.85);
	transition: transform 0.2s, opacity 0.3s;
	pointer-events: none;
	font-size: 0.9em;

	&.swiper-slide-active {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 0;
    transform: none;
    white-space: nowrap;
    margin: 0 auto;

    .swiper-pagination-bullet {
		min-width: 75px;
    }
}
.swiper-pagination-tlab {
	text-align: center;
	// margin-bottom: 1.25em;
	// background: linear-gradient(to bottom, transparent 35%, var(--gray)  35%, var(--gray)  36%, transparent 37%, transparent);
	.swiper-pagination-bullet {
		background: none;
		width: auto;
		height:auto;
		margin:0 0.75em 1.5em !important;
		opacity: 1;
		cursor: pointer;
		min-width: 50px;

		@include media-breakpoint-down(xs) {
			min-width: 45px;
			font-size: 0.65em;
			.step-name {
				font-size: 1em;
			}
		}
		.num {
			@include grad-white;
			display: block;
			font-size: 0.9rem;
			// font-size: 20px;
			opacity: 1;
			width: 2.5em;
			height: 2.5em;
			padding: 0.5em;
			margin: 0 auto;
			text-align: center;
			color: var(--gray-dark);
			border-radius: 50%;
		}

		&-active .num {
			color: var(--white-bg);
			@include grad-blue;
			font-weight: bold;
		}
	}

	.step-name {
		display: block;
		font-size: 0.8rem;
		margin-top: 0.25em;
		font-weight: normal;
		color: var(--gray-dark);
		width: 100%;
		text-align: center;
		padding-top: 0.25em;
	}
}