// technical data styles

.info-page {

	h2 {
	    color: var(--secondary);
	    font-size: 1em;
		font-weight:600;
	    margin-top: 1.7em;
	    margin-bottom: 0.75em;   
	    line-height:normal;
	}

	ol {
		list-style-type: none;
		counter-reset: item;
		margin: 0;
		padding: 0;
	}
	  
	ol > li {
		display: table;
		counter-increment: item;
		margin-bottom: 25px;
	}
	  
	ol > li:before {
		content: counters(item, ".") ". ";
		display: table-cell;
		padding-right: 10px;
		color: var(--secondary);
		font-weight:600;
	}
	  
	li ol > li {
		margin: 0;
	}
	  
	li ol > li:before {
		content: counters(item, ".") " ";
		color: var(--secondary);
		font-weight:600;
	}

	ol ol,
	ul ul,
	ol ul,
	ul ol{margin-top:10px;}

	ol.upperLatin{counter-reset: itemLatin;}
	ol.upperLatin > li{counter-increment: itemLatin;}
	ol.upperLatin > li::before{content: counter(itemLatin, upper-latin) ". ";}
	ol.upperLatin li ol > li::before{content: counter(itemLatin, upper-latin) "." counter(item) ". ";}
	
	ol.ol-simples{list-style-type:decimal;padding-left:20px;}
	ol.ol-simples > li{display:list-item;}
	ol.ol-simples > li:before{content:none;}

	table{margin-bottom:40px;}
	table.duas-colunas-40-60 > thead > tr > th:first-child,
	table.duas-colunas-40-60 > tbody > tr > td:first-child{width:40%;}
	table.duas-colunas-40-60 > thead > tr > th:last-child,
	table.duas-colunas-40-60 > tbody > tr > td:last-child{width:60%;}
	table.duas-colunas-50-50 > thead > tr > th,
	table.duas-colunas-50-50 > tbody > tr > td{width:50%;}
	table tr.v-align-bottom{vertical-align:bottom;}
	table > thead th,
	table > tbody td{border:solid 1px #000;padding:8px;}
	table > thead th{font-weight:normal;}
	table > tfoot{border:none;font-size:12px;}
	table ul{margin-bottom:0;}

	td.innerTable{padding:0;}
	td.innerTable > table{border:hidden;margin:0;}

	td.innerTable > table td{padding:2px;}
	table[class^="duas-colunas-"] > tbody > tr > td.col-largura-30{width:30%;}
	table[class^="duas-colunas-"] > tbody > tr > td.col-largura-25{width:25%;}
	table[class^="duas-colunas-"] > tbody > tr > td.col-largura-15{width:15%;padding:2px;}
	table[class^="duas-colunas-"] > tbody > tr > td.col-largura-12{width:12%;padding:2px;}

	table.tabela100{table-layout:auto;}
	table.tabela100 td:first-child{}
	table.tabela100 td:nth-child(2){text-align:center;}
	table.tabela100 td:nth-child(3){text-align:right;}

	table.no-border{border:none;padding:0;margin:0;}
	table.no-border td{border:none;padding:0;}

	.txt-center{text-align:center;}
}