/*************************************************
* css vars
**************************************************/
// :root {
// 	--pink: #E72F89;
// 	--pink-dark: #CB2074;
// 	--primary: #E72F89;
// 	--primary-dark: #CB2074;
//     --blue: #0F69AF;
//     --white: #FFFFFF;
//     --white-bg: #FFFFFF;
//     --gray-dark: #272727;
//     --gray-medium: #7D868C;
//     --gray-light: #C8C8C8;
// }