/*
 * T-Lab 2.0
 * Author:  Miguel Santos
 */

@import "bootstrap";
@import "icons";
@import "mixins";

//kioskboard
@import "../../node_modules/kioskboard/src/kioskboard";

// @import "vars"; // migrated to bootstrap
@import "header";
@import "footer";
@import "menus";
@import "swiper";
@import "auth";
@import "diagnostic";
@import "prescription";
@import "dosage";
@import "technical";

/*************************************************
* Typography
**************************************************/
body {
	font-family: 'Verdana', sans-serif;
    color: var(--gray-dark);
}
body *{outline:none !important;}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Verdana', sans-serif;
	color: var(--gray);
}
a {
	color: var(--primary);

    &:hover {
        color: var(--primary-dark);
    }
}

.main-section-title, .sub-section-title, .main-menu-title {
    color: var(--secondary);
}
.main-section-title {
    font-size: 1.2em;
    margin-top: 0.75em;
    margin-bottom: 0.1em;   
    line-height: 0.9em;
}

.sub-section-title {
    font-size: 1.3em;
    font-weight: bold;
}

.main-menu-title {
    font-size: 1.45em;
    font-weight: bold;
    // text-align: center;
    margin: 1em 0 0.25em;
}
.narrow-text {
    max-width: 650px;
}

ul {
    padding-left: 1.5em;
    li {
        line-height: 1.25em;
        padding-bottom: 0.5em;
    }
}
 /*************************************************
 * General styles
**************************************************/

body {
    overflow-x:hidden;
}
body.container.auth {
	background:none;
}
@media only screen and (min-width: 576px) {
    body.container.auth {
        background: url(../img/decoration.svg) no-repeat calc(100% + 240px) -180px;
        background-size: 65vh;
        background-color: transparent;
    }
    // body.container.menu {
    //     background: url(../img/decoration.svg) no-repeat calc(100% + 240px) calc(-100% + 50px);
    //     background-size: 65vh;
    //     background-color: transparent;
    // }
}

body.container.diagnostic, body.container.dosage, body.container.menu {
    padding-bottom: 5em;
}

/*************************************************
 * main
**************************************************/


/*************************************************
 * kioskboard overides
**************************************************/
#KioskBoard-VirtualKeyboard{padding:10px;}
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab{
    display: block;
    max-width: 320px;
    margin: auto;
}
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab span[class^="kioskboard-key"]{
    padding:8px;
    max-width: 100%;
    min-height:unset;
    width: calc(33.3333% - 16px);
    flex: 1 1 auto;
    margin: 8px 5px 8px;
}
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab span.kioskboard-key-tab {
    width: calc(100% - 30px);
    text-align: center;

    svg {
        right: 16px;
        left: auto;
    }
}

//confirm key
#KioskBoard-VirtualKeyboard.kioskboard-theme-light .kioskboard-row-tlab span.kioskboard-key-confirm {
    // @include grad-pink;
    background-color: var(--primary);
    color: var(--white-bg);
    align-items: center;
    padding: 18px 12px 12px;

}

// begin: NUMPAD
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-numpad span.kioskboard-key-0, 
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-numpad .kioskboard-key[data-index="10"], 
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-numpad span.kioskboard-key-backspace {
    max-width: 100%;
    width: calc(33% - 16px);
}

//comma key
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-numpad .kioskboard-key[data-index="10"] {
    font-weight: bold !important;
    align-items: center;
}
// end: NUMPAD

// begin: ANTICORPO
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-anticorpo .kioskboard-key[data-index="0"],
#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-anticorpo .kioskboard-key[data-index="1"]{
    width: calc(50% - 20px);
    align-items:center;
}

#KioskBoard-VirtualKeyboard .kioskboard-row-tlab.kioskboard-row-anticorpo .kioskboard-key.selected{
    background-color:#e2e2e2;
    color:#555;

}
// end: ANTICORPO

/*************************************************
 * forms - input focused
**************************************************/
.focused {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }
}

/*************************************************
 * forms - slider
**************************************************/
.range-container {
  width: 100%;
    label {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
    }
}

.range-slider {
  -webkit-appearance: none;
  margin: 1em 7%;
  width: 86%;
  height: 12px;
  border-radius: 5px;
  background: var(--gray-light);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.range-options {
    margin: 0;
    display: flex;
    justify-content: space-between;

    & > div {
        font-size: 0.75em;
        flex-basis: 16.66%;
        text-align: center;
        line-height: 1.1em;
        padding: 0.25em;
    }

    & > div.active {
        color: var(--pink-dark);
    }

    & > div:before {
        font-size: 3em;
        display: block;
        text-align: center;
    }
}


 /*************************************************
 * buttons
**************************************************/

.btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-outline {
    color: var(--primary);
    // background-color: var(--white);
    border-color: var(--primary);
}
.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-outline:not(:disabled):not(.disabled).active, 
.btn-outline:not(:disabled):not(.disabled):active, 
.show>.btn-outline.dropdown-toggle,
.btn-outline.focus, .btn-outline:focus {
    color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
    border-color: var(--primary);
}

.btn-icn {
    display: inline-block;
    align-items: center;
    font-size: 0.9em;
    color: var(--gray-dark);
    &:active, &:hover {
        color: var(--gray-light);
        text-decoration: none;
    }
    img {
        width: 60px;
        height: auto;
        margin-right: 0.25em;
    }
}