@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?vtuzfr') format('truetype'),
    url('fonts/icomoon.woff?vtuzfr') format('woff'),
    url('fonts/icomoon.svg?vtuzfr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-diagnostic:before {
  content: "\e900";
  color: #595957;
}
.icon-menu-dosage:before {
  content: "\e901";
  color: #585857;
}
.icon-menu-prescription:before {
  content: "\e902";
  color: #595957;
}
.icon-menu-calc:before {
  content: "\e903";
  color: #585857;
}
.icon-ruller:before {
  content: "\e91c";
}
.icon-scale:before {
  content: "\e91d";
}
.icon-pack:before {
  content: "\e91e";
}
.icon-left:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e909";
}
.icon-up:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e90b";
}
.icon-rewind:before {
  content: "\e90c";
}
.icon-baby-m:before {
  content: "\e90d";
}
.icon-baby-f:before {
  content: "\e90e";
}
.icon-girl:before {
  content: "\e90f";
}
.icon-boy:before {
  content: "\e910";
}
.icon-teen:before {
  content: "\e911";
}
.icon-man:before {
  content: "\e912";
}
.icon-woman:before {
  content: "\e913";
}
.icon-preagnant:before {
  content: "\e914";
}
.icon-couple:before {
  content: "\e915";
}
.icon-elder:before {
  content: "\e916";
}
.icon-male:before {
  content: "\e917";
}
.icon-female:before {
  content: "\e918";
}
.icon-finish:before {
  content: "\e919";
}
.icon-capsule-open:before {
  content: "\e91a";
}
.icon-tools:before {
  content: "\e91b";
}
.icon-title-danger:before {
  content: "\e904";
  color: #55575b;
}
.icon-title-doc-plus:before {
  content: "\e905";
  color: #585857;
}
.icon-title-doc-tick:before {
  content: "\e906";
  color: #585857;
}
.icon-title-doc-tick-plus:before {
  content: "\e907";
  color: #585857;
}
